:root {
  --btn-cta-color: var(--color-white);
  --btn-cta-bg: var(--color-leafy-green);
  --btn-cta-border: var(--color-leafy-green);
  --btn-cta-active-bg: var(--color-leafy-green-light);
  --btn-cta-active-border: var(--color-leafy-green-light);
  --btn-cta-active-outline: var(--color-leafy-green-light);
  --btn-cta-focus-outline: var(--color-leafy-green);
  --btn-cta-focus-hover-outline: var(--color-leafy-green-dark);
  --btn-cta-hover-bg: var(--color-leafy-green-dark);
  --btn-cta-hover-border: var(--color-leafy-green-dark);
}
