:root {
  --btn-min-width: 15rem;
  --btn-border-radius: var(--border-radius-sm);
  --btn-rounded-radius: 6.25rem;

  --btn-disabled-bg: var(--disabled-color);
  --btn-disabled-border: var(--disabled-color);
  --btn-disabled-color: var(--color-white);
}
