:root {
  --btn-tertiary-color: var(--color-charcoal);
  --btn-tertiary-bg: var(--color-white);
  --btn-tertiary-border: var(--color-white);
  --btn-tertiary-active-bg: var(--grey-1);
  --btn-tertiary-active-border: var(--color-white);
  --btn-tertiary-active-outline: var(--color-platinum);
  --btn-tertiary-focus-outline-1: var(--color-white);
  --btn-tertiary-focus-outline-2: var(--color-charcoal);
  --btn-tertiary-hover-bg: rgba(var(--color-white-rgb), 0.9);
  --btn-tertiary-hover-border: rgba(var(--color-white-rgb), 0.9);

  --btn-tertiary-alt-1-color: var(--color-super-blue);
  --btn-tertiary-alt-1-bg: var(--color-white);
  --btn-tertiary-alt-1-border: var(--color-white);
  --btn-tertiary-alt-1-active-bg: rgba(var(--color-white-rgb), 0.9);
  --btn-tertiary-alt-1-active-color: var(--color-super-blue);
  --btn-tertiary-alt-1-active-border: rgba(var(--color-white-rgb), 0.9);
  --btn-tertiary-alt-1-active-outline: var(--color-super-blue);
  --btn-tertiary-alt-1-focus-outline-1: var(--color-white);
  --btn-tertiary-alt-1-focus-outline-2: var(--color-super-blue);
  --btn-tertiary-alt-1-hover-bg: rgba(var(--color-white-rgb), 0.9);
  --btn-tertiary-alt-1-hover-border: rgba(var(--color-white-rgb), 0.9);

  --btn-tertiary-alt-2-color: var(--color-leafy-green);
  --btn-tertiary-alt-2-bg: var(--color-white);
  --btn-tertiary-alt-2-border: var(--color-white);
  --btn-tertiary-alt-2-active-bg: rgba(var(--color-white-rgb), 0.9);
  --btn-tertiary-alt-2-active-color: var(--color-leafy-green);
  --btn-tertiary-alt-2-active-border: rgba(var(--color-white-rgb), 0.9);
  --btn-tertiary-alt-2-active-outline: var(--color-leafy-green);
  --btn-tertiary-alt-2-focus-outline-1: var(--color-white);
  --btn-tertiary-alt-2-focus-outline-2: var(--color-leafy-green);
  --btn-tertiary-alt-2-hover-bg: rgba(var(--color-white-rgb), 0.9);
  --btn-tertiary-alt-2-hover-border: rgba(var(--color-white-rgb), 0.9);
}
