# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS.

# Each line is a file pattern followed by one or more owners.

# Default owners for everything in the repo
*       @thatguynamedandy @elenagarrone
