version: 2
updates:

  - package-ecosystem: 'github-actions'
    open-pull-requests-limit: 15
    directory: '/'
    commit-message:
      include: 'scope'
      prefix: 'chore'
    schedule:
      interval: 'daily'
      time: '18:00'
      timezone: 'Europe/London'
    pull-request-branch-name:
      separator: '-'
    groups:
      actions:
        patterns:
          - '*'

  # We have two entries for npm, with a 'target-branch' key on one as it's a hack
  # until Dependabot supports multiple configurations per ecosystem:
  # https://github.com/dependabot/dependabot-core/issues/1778#issuecomment-1988140219
  #
  # We do this as there's no other way to ignore patch updates for Angular and Storybook only.
  # Ideally we could allow all minor updates globally, then ignore them per-group, but
  # Dependabot doesn't support that, since groups are inclusive only and ignore is
  # global. Since we want to allow minor updates in other groups, we have to split the
  # Angular and Storybook groups into a separate configuration using the hack.

  # MAJOR UPDATES ONLY
  - package-ecosystem: 'npm'
    target-branch: master
    versioning-strategy: increase
    open-pull-requests-limit: 15
    commit-message:
      include: 'scope'
      prefix: 'chore'
    directory: '/'
    schedule:
      interval: 'daily'
      time: '18:00'
      timezone: 'Europe/London'
    pull-request-branch-name:
      separator: '-'
    groups:
      npm-dev-major:
        dependency-type: development
        patterns:
          - '*'
        exclude-patterns:
          - '@angular-builders/*'
          - '@angular-devkit/*'
          - '@angular-eslint/*'
          - '@angular/*'
          - '@storybook/*'
          - 'eslint-plugin-storybook'
          - 'ng-packagr'
          - 'storybook'
          - 'storybook-addon-tag-badges'
          - 'typescript'
      npm-prod-major:
        dependency-type: production
        patterns:
          - '*'
        exclude-patterns:
          - '@angular/*'
          - 'rxjs'
          - 'zone.js'
      storybook-major:
        patterns:
          - '@storybook/*'
          - 'eslint-plugin-storybook'
          - 'storybook'
          - 'storybook-addon-tag-badges'
      angular-major:
        patterns:
          - '@angular-builders/*'
          - '@angular-devkit/*'
          - '@angular-eslint/*'
          - '@angular/*'
          - 'ng-packagr'
          - 'rxjs'
          - 'typescript'
          - 'zone.js'
    ignore:
      # This ecosystem configuration is only for major updates
      - dependency-name: '*'
        update-types: [ 'version-update:semver-patch', 'version-update:semver-minor' ]

  # MINOR UPDATES ONLY
  - package-ecosystem: 'npm'
    versioning-strategy: increase
    open-pull-requests-limit: 15
    commit-message:
      include: 'scope'
      prefix: 'chore'
    directory: '/'
    schedule:
      interval: 'daily'
      time: '18:00'
      timezone: 'Europe/London'
    pull-request-branch-name:
      separator: '-'
    groups:
      npm-dev-minor:
        dependency-type: development
        patterns:
          - '*'
      npm-prod-minor:
        dependency-type: production
        patterns:
          - '*'
    ignore:
      # This ecosystem configuration is only for minor updates
      - dependency-name: '*'
        update-types: [ 'version-update:semver-patch', 'version-update:semver-major' ]
      # Ignore all Storybook and Angular updates as they are covered by the other ecosystem configuration
      - dependency-name: '@angular-builders/*'
      - dependency-name: '@angular-devkit/*'
      - dependency-name: '@angular-eslint/*'
      - dependency-name: '@angular/*'
      - dependency-name: '@storybook/*'
      - dependency-name: 'eslint-plugin-storybook'
      - dependency-name: 'ng-packagr'
      - dependency-name: 'rxjs'
      - dependency-name: 'storybook'
      - dependency-name: 'storybook-addon-tag-badges'
      - dependency-name: 'typescript'
      - dependency-name: 'zone.js'

