version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: 'github-actions'
    # Workflow files stored in the
    # default location of `.github/workflows`
    directory: '/'
    schedule:
      day: 'sunday'
      interval: 'weekly'
      time: '00:00'
      timezone: 'Europe/London'

  # Maintain dependencies for npm
  - package-ecosystem: 'npm'
    # Files stored in repository root
    directory: '/'
    schedule:
      day: 'sunday'
      interval: 'weekly'
      time: '00:00'
      timezone: 'Europe/London'
    commit-message:
      prefix: 'npm'
      include: 'scope'
    versioning-strategy: increase
    ignore:
      - dependency-name: "@types/node"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@angular/*"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@angular-devkit/*"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@storybook/addon-a11y"
        versions: ["6.x"]
      - dependency-name: "@storybook/addon-actions"
        versions: ["6.x"]
      - dependency-name: "@storybook/addon-backgrounds"
        versions: ["6.x"]
      - dependency-name: "@storybook/addon-docs"
        versions: ["6.x"]
      - dependency-name: "@storybook/addon-knobs"
        versions: ["6.x"]
      - dependency-name: "@storybook/addon-notes"
        versions: ["6.x"]
      - dependency-name: "@storybook/addon-options"
        versions: ["6.x"]
      - dependency-name: "@storybook/addon-storysource"
        versions: ["6.x"]
      - dependency-name: "@storybook/addon-viewport"
        versions: ["6.x"]
      - dependency-name: "@storybook/addons"
        versions: ["6.x"]
      - dependency-name: "@storybook/angular"
        versions: ["6.x"]
      - dependency-name: "@storybook/theming"
        versions: ["6.x"]
      - dependency-name: "jasmine-marbles"
