{
  "printWidth": 90,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "attributeGroups": [
    "$ANGULAR_STRUCTURAL_DIRECTIVE",
    "$ANGULAR_ELEMENT_REF",
    "$ANGULAR_INPUT",
    "$ANGULAR_OUTPUT",
    "$ANGULAR_TWO_WAY_BINDING",
    "$ANGULAR_ANIMATION",
    "$ANGULAR_ANIMATION_INPUT"
  ]
}
