{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/github", {
      "assets": [
        {"path": "dist/canopy.zip", "label": "Canopy distribution"},
      ]
    }],
  ],
  "preset": "angular"
}
