{
  "branches": [
    "master",
    {"name": "next", "prerelease": true}
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/npm", {
      "pkgRoot": "dist/canopy",
    }],
    ["@semantic-release/github", {
      "assets": [
        {"path": "dist/canopy.zip", "label": "Canopy distribution"},
      ]
    }],
  ],
  "preset": "angular"
}
