:root {
  --btn-secondary-color: var(--grey-10);
  --btn-secondary-bg: var(--white);
  --btn-secondary-border: var(--grey-10);
  --btn-secondary-active-bg: var(--grey-4);
  --btn-secondary-active-border: var(--grey-4);
  --btn-secondary-active-color: var(--white);
  --btn-secondary-active-outline: var(--grey-4);
  --btn-secondary-focus-color: var(--grey-10);
  --btn-secondary-focus-outline-1: var(--white);
  --btn-secondary-focus-outline-2: var(--grey-10);
  --btn-secondary-hover-bg: var(--grey-10);
  --btn-secondary-hover-color: var(--white);
  --btn-secondary-hover-border: var(--grey-10);
}
