:root {
  --btn-secondary-color: var(--color-charcoal);
  --btn-secondary-bg: var(--color-white);
  --btn-secondary-border: var(--color-charcoal);
  --btn-secondary-active-bg: var(--color-platinum);
  --btn-secondary-active-border: var(--color-platinum);
  --btn-secondary-active-color: var(--color-white);
  --btn-secondary-active-outline: var(--color-platinum);
  --btn-secondary-focus-color: var(--color-charcoal);
  --btn-secondary-focus-outline-1: var(--color-white);
  --btn-secondary-focus-outline-2: var(--color-charcoal);
  --btn-secondary-hover-bg: var(--color-charcoal);
  --btn-secondary-hover-color: var(--color-white);
  --btn-secondary-hover-border: var(--color-charcoal);
}
