:root {
  --btn-primary-color: var(--white);
  --btn-primary-bg: var(--blue);
  --btn-primary-border: var(--blue);
  --btn-primary-active-bg: var(--blue-light);
  --btn-primary-active-border: var(--blue-light);
  --btn-primary-active-outline: var(--blue-light);
  --btn-primary-focus-outline: var(--blue);
  --btn-primary-focus-hover-outline: var(--blue-dark);
  --btn-primary-hover-bg: var(--blue-dark);
  --btn-primary-hover-border: var(--blue-dark);
}
