:root {
  --btn-cta-color: var(--white);
  --btn-cta-bg: var(--green);
  --btn-cta-border: var(--green);
  --btn-cta-active-bg: var(--green-light);
  --btn-cta-active-border: var(--green-light);
  --btn-cta-active-outline: var(--green-light);
  --btn-cta-focus-outline: var(--green);
  --btn-cta-focus-hover-outline: var(--green-dark);
  --btn-cta-hover-bg: var(--green-dark);
  --btn-cta-hover-border: var(--green-dark);
}
