.light-buttons-container {
  background-color: var(--colour-blue-600);
  display: flex;
  justify-content: center;
  align-items: center;

  &:last-child {
    background-color: var(--colour-green-600);
  }
}
