<lg-page>
  <header lg-header></header>

  <lg-hero [overlap]="3" class="lg-hero--test-page">
    <lg-hero-header>
      <div lgContainer>
        <div lgRow>
          <div lgCol="12">
            <lg-breadcrumb variant="light" lgMarginBottom="none">
              <lg-breadcrumb-item>
                <a href="#">
                  <lg-icon [name]="'home'"></lg-icon>
                  Home
                </a>
              </lg-breadcrumb-item>
              <lg-breadcrumb-item>
                <a href="#">Products</a>
              </lg-breadcrumb-item>
              <lg-breadcrumb-item>
                <a href="#" aria-current="page">Pension Annuity</a>
              </lg-breadcrumb-item>
            </lg-breadcrumb>
          </div>
        </div>
      </div>
    </lg-hero-header>
    <lg-hero-content>
      <div lgContainer>
        <div lgRow>
          <div lgCol="12">
            <lg-hero-card>
              <lg-hero-card-header>
                <lg-hero-card-title headingLevel="3">
                  Pension annuity
                </lg-hero-card-title>
                <lg-hero-card-subtitle>
                  Payroll Reference Number P23456
                </lg-hero-card-subtitle>
                <lg-hero-card-principle-data-point>
                  <lg-hero-card-principle-data-point-label headingLevel="4">
                    Last payment (after tax and deductions)
                  </lg-hero-card-principle-data-point-label>
                  <lg-hero-card-principle-data-point-value>
                    £230.20
                  </lg-hero-card-principle-data-point-value>
                </lg-hero-card-principle-data-point>
              </lg-hero-card-header>
              <lg-hero-card-content>
                <lg-hero-card-data-point>
                  <lg-hero-card-data-point-label headingLevel="5">
                    Payment due
                  </lg-hero-card-data-point-label>
                  <lg-hero-card-data-point-value>
                    15 Jan 2020
                  </lg-hero-card-data-point-value>
                </lg-hero-card-data-point>
                <lg-hero-card-data-point>
                  <lg-hero-card-data-point-label headingLevel="5">
                    Payment frequency
                  </lg-hero-card-data-point-label>
                  <lg-hero-card-data-point-value>
                    Monthly
                  </lg-hero-card-data-point-value>
                </lg-hero-card-data-point>
                <lg-hero-card-data-point>
                  <lg-hero-card-data-point-label headingLevel="5">
                    Tax code
                  </lg-hero-card-data-point-label>
                  <lg-hero-card-data-point-value>
                    2T
                    <span lgMarginLeft="sm" class="lg-font-size-1"
                      >Received on 12 Mar 2019</span
                    >
                  </lg-hero-card-data-point-value>
                </lg-hero-card-data-point>
              </lg-hero-card-content>
              <lg-hero-card-footer>
                <small class="lg-font-size-0-6"
                  >* This is not a guaranteed amount and could be subject to
                  change.</small
                >
              </lg-hero-card-footer>
            </lg-hero-card>
          </div>
        </div>
      </div>
    </lg-hero-content>
  </lg-hero>

  <div lgContainer>
    <div lgRow>
      <div lgCol="12" lgColLg="9" lgColMdOffset="0">
        <lg-card lgPaddingTop="none">
          <lg-tabs [headingLevel]="2" label="Annuities">
            <lg-tab-item>
              <lg-tab-item-heading>Product details</lg-tab-item-heading>
              <lg-tab-item-content>
                <div class="lg-tabs__content-section">
                  You have a standard lifetime annuity. We will pay you a
                  guaranteed income for life
                </div>
              </lg-tab-item-content>
            </lg-tab-item>
            <lg-tab-item>
              <lg-tab-item-heading>Payments & tax</lg-tab-item-heading>
              <lg-tab-item-content>
                <div class="lg-tabs__content-section">
                  <p>Your last payment was £230.20 after tax and deductions.</p>
                  <lg-separator></lg-separator>
                  <lg-heading level="3">Payment Details</lg-heading>
                  <div lgContainer lgPadding="none">
                    <div lgRow>
                      <div lgCol="12" lgColMd="8">
                        <lg-data-point-list>
                          <lg-data-point>
                            <lg-data-point-label [headingLevel]="4">
                              Name on account
                            </lg-data-point-label>
                            <lg-data-point-value>
                              Joe Bloggs
                            </lg-data-point-value>
                          </lg-data-point>
                          <lg-data-point>
                            <lg-data-point-label [headingLevel]="4">
                              Account number
                            </lg-data-point-label>
                            <lg-data-point-value>
                              ***5678
                            </lg-data-point-value>
                          </lg-data-point>
                          <lg-data-point>
                            <lg-data-point-label [headingLevel]="4">
                              Bank sort code
                            </lg-data-point-label>
                            <lg-data-point-value>
                              00 - 00 - **
                            </lg-data-point-value>
                          </lg-data-point>
                        </lg-data-point-list>
                      </div>
                    </div>
                  </div>
                  <div class="lg-row">
                    <div class="lg-col-12 lg-col-md-8">
                      <lg-details>
                        <lg-details-panel-heading [headingLevel]="3">
                          How do I change my payment details
                        </lg-details-panel-heading>
                        Give us a call on 0800 123 4567 and we'll be happy to
                        help you change your payment details
                      </lg-details>
                    </div>
                  </div>
                </div>
              </lg-tab-item-content>
            </lg-tab-item>
            <lg-tab-item>
              <lg-tab-item-heading>Death & benefits</lg-tab-item-heading>
              <lg-tab-item-content>
                <div class="lg-tabs__content-section">
                  You have selected a single life policy with no continuation
                  benefits
                </div>
              </lg-tab-item-content>
            </lg-tab-item>
            <lg-tab-item>
              <lg-tab-item-heading>Documents</lg-tab-item-heading>
              <lg-tab-item-content>
                <div class="lg-tabs__content-section">
                  Your documents are available in multiple formats
                </div>
              </lg-tab-item-content>
            </lg-tab-item>
          </lg-tabs>

          <lg-accordion [headingLevel]="3">
            <lg-accordion-item>
              <lg-accordion-panel-heading>Item 1</lg-accordion-panel-heading>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </lg-accordion-item>
            <lg-accordion-item>
              <lg-accordion-panel-heading>Item 2</lg-accordion-panel-heading>
              <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur.
              </p>
              <button lg-button lgMarginTop="sm" variant="solid-primary">
                Test primary button
              </button>
            </lg-accordion-item>
          </lg-accordion>

          <lg-alert variant="info">
            <lg-heading level="4">Test heading</lg-heading>
            Information alert
          </lg-alert>

          <lg-alert variant="warning">
            Warning alert
          </lg-alert>

          <lg-alert variant="success">
            Success alert
          </lg-alert>

          <lg-alert variant="error" lgMarginBottom="xxxl">
            Error alert
          </lg-alert>

          <lg-alert variant="generic">
            <ul>
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
              <li>Item 4</li>
            </ul>
          </lg-alert>

          <lg-card>
            <lg-card-header>
              Test card title
            </lg-card-header>
            <lg-card-content>
              Test card content
            </lg-card-content>
          </lg-card>

          <button lg-button variant="solid-primary">
            Test solid primary button
          </button>
          <br />

          <button lg-button variant="solid-secondary">
            Test solid secondary button
          </button>
          <br />

          <button lg-button variant="outline-primary">
            Test outline primary button
          </button>
          <br />

          <button lg-button variant="outline-secondary">
            Test outline secondary button
          </button>
          <br />

          <button lg-button variant="solid-primary" [loading]="true">
            Test loading button
          </button>

          <lg-input-field>
            Test input
            <lg-hint>Enter some text</lg-hint>
            <input lgInput />
          </lg-input-field>

          <lg-select-field>
            Select input
            <lg-hint>Pick an option</lg-hint>
            <select lgSelect>
              <option value="blue">Blue</option>
              <option value="yellow">Yellow</option>
              <option value="green">Green</option>
              <option value="red">Red</option>
            </select>
          </lg-select-field>

          <lg-date-field>
            Date of birth
            <lg-hint>e.g. 05 12 1980</lg-hint>
          </lg-date-field>

          <lg-separator></lg-separator>

          <lg-toggle>
            Test checkbox
          </lg-toggle>

          <lg-toggle variant="switch">Toggle switch</lg-toggle>

          <lg-radio-group>
            Test radio group
            <lg-hint>Pick an option</lg-hint>
            <lg-radio-button value="red">Red</lg-radio-button>
            <lg-radio-button value="yellow">Yellow</lg-radio-button>
            <lg-radio-button value="green">Green</lg-radio-button>
            <lg-radio-button value="blue">Blue</lg-radio-button>
          </lg-radio-group>

          <lg-spinner variant="dark"></lg-spinner>

          <lg-spinner
            variant="color"
            text="We are loading your information"
            lgMarginTop="xxl"
          ></lg-spinner>

          <lg-table>
            <lg-table-row>
              <lg-table-head>Author</lg-table-head>
              <lg-table-head>Book</lg-table-head>
              <lg-table-head align="end">Published</lg-table-head>
            </lg-table-row>
            <lg-table-row>
              <lg-table-cell>Orhan Pamuk</lg-table-cell>
              <lg-table-cell>Strangeness in my Mind</lg-table-cell>
              <lg-table-cell>2016</lg-table-cell>
            </lg-table-row>
            <lg-table-row>
              <lg-table-cell>Albert Camus</lg-table-cell>
              <lg-table-cell>The Plague</lg-table-cell>
              <lg-table-cell>1947</lg-table-cell>
            </lg-table-row>
            <lg-table-row>
              <lg-table-cell>George Orwell</lg-table-cell>
              <lg-table-cell>Animal Farm</lg-table-cell>
              <lg-table-cell>1945</lg-table-cell>
            </lg-table-row>
          </lg-table>
        </lg-card>
      </div>
      <div lgCol="12" lgColLg="3" lgColMdOffset="0">
        <lg-card>
          <lg-card-content>
            <p>
              This is the Canopy test page which displays all of the current
              Canopy components on one page.
            </p>
            <a
              href="https://github.com/canopy-collective/canopy"
              target="_blank"
              lg-button
              variant="solid-primary"
            >
              View source
            </a>
          </lg-card-content>
        </lg-card>
      </div>
    </div>
  </div>
  <footer lg-footer></footer>
</lg-page>
