:root {
  --colour-blue-0: #fff;
  --colour-blue-100: #d2effb;
  --colour-blue-1000: #000039;
  --colour-blue-200: #aee1f7;
  --colour-blue-300: #76c8f1;
  --colour-blue-400: #42aeea;
  --colour-blue-500: #1e84d2;
  --colour-blue-600: #005dba;
  --colour-blue-700: #003894;
  --colour-blue-800: #001d6e;
  --colour-blue-900: #000a52;

  --colour-green-0: #fff;
  --colour-green-100: #dff6eb;
  --colour-green-1000: #011b1f;
  --colour-green-200: #caeedd;
  --colour-green-300: #7fce9f;
  --colour-green-400: #43af6e;
  --colour-green-500: #1a8952;
  --colour-green-600: #00633d;
  --colour-green-700: #014a39;
  --colour-green-800: #01312e;
  --colour-green-900: #012425;

  --colour-transparent: transparent;
  --colour-greyscale-0: #fff;
  --colour-greyscale-100: #f4f4f4;
  --colour-greyscale-1000: #000;
  --colour-greyscale-200: #d3d3d3;
  --colour-greyscale-300: #bcbdbd;
  --colour-greyscale-400: #a6a7a7;
  --colour-greyscale-500: #858686;
  --colour-greyscale-600: #7a7b7b;
  --colour-greyscale-700: #4d4f4f;
  --colour-greyscale-800: #343634;
  --colour-greyscale-900: #1d1d1b;

  --colour-red-0: #fff;
  --colour-red-100: #ffd5d2;
  --colour-red-1000: #480411;
  --colour-red-200: #ffc2bd;
  --colour-red-300: #ff7e7e;
  --colour-red-400: #ff3e51;
  --colour-red-500: #e2223e;
  --colour-red-600: #c50b30;
  --colour-red-700: #ad092a;
  --colour-red-800: #940824;
  --colour-red-900: #6e061b;

  --colour-yellow-0: #fff;
  --colour-yellow-100: #fffbdc;
  --colour-yellow-1000: #572722;
  --colour-yellow-200: #fff9c7;
  --colour-yellow-300: #fff298;
  --colour-yellow-400: #ffe969;
  --colour-yellow-500: #ffd335;
  --colour-yellow-600: #ffb600;
  --colour-yellow-700: #e48616;
  --colour-yellow-800: #c86426;
  --colour-yellow-900: #904029;

  // rgb colours

  --colour-blue-600-rgb: 0, 93, 186;
  --colour-green-600-rgb: 0, 99, 61;
  --colour-yellow-600-rgb: 255, 182, 0;
  --colour-greyscale-900-rgb: 29, 29, 27;
  --colour-greyscale-0-rgb: 255, 255, 255;
  --colour-greyscale-1000-rgb: 0, 0, 0;

  // Legacy colour mapping
  --color-lavender: var(--colour-blue-200);
  --color-sky-blue: var(--colour-blue-400);
  --color-midnight-blue: var(--colour-blue-800);

  --color-tea-green: var(--colour-green-200);
  --color-lily-green: var(--colour-green-400);
  --color-mexican-green: var(--colour-green-700);

  --color-champagne: var(--colour-yellow-200);
  --color-harvest-gold: var(--colour-yellow-700);

  --color-dusky-pink: var(--colour-red-200);
  --color-shocking-pink: var(--colour-red-400);
  --color-terracotta: var(--colour-red-800);

  --color-earth-brown: var(--colour-yellow-800);
  --color-earth-brown-dark: var(--colour-yellow-900);
  --color-earth-brown-darkest: var(--colour-yellow-1000);

  --color-super-blue-lightest: var(--colour-blue-100);
  --color-super-blue-light: var(--colour-blue-300);
  --color-super-blue: var(--colour-blue-600);
  --color-super-blue-rgb: var(--colour-blue-600-rgb);
  --color-super-blue-dark: var(--colour-blue-700);
  --color-super-blue-darkest: var(--colour-blue-900);

  --color-leafy-green-lightest: var(--colour-green-100);
  --color-leafy-green-light: var(--colour-green-300);
  --color-leafy-green: var(--colour-green-600);
  --color-leafy-green-rgb: var(--colour-green-600-rgb);
  --color-leafy-green-dark: var(--colour-green-800);
  --color-leafy-green-darkest: var(--colour-green-900);

  --color-poppy-red-lightest: var(--colour-red-100);
  --color-poppy-red-light: var(--colour-red-300);
  --color-poppy-red: var(--colour-red-600);
  --color-poppy-red-dark: var(--colour-red-700);
  --color-poppy-red-darkest: var(--colour-red-900);

  --color-dandelion-yellow-lightest: var(--colour-yellow-100);
  --color-dandelion-yellow-light: var(--colour-yellow-300);
  --color-dandelion-yellow: var(--colour-yellow-600);
  --color-dandelion-yellow-rgb: var(--colour-yellow-600-rgb);

  --color-black: var(--colour-greyscale-1000);
  --color-charcoal: var(--colour-greyscale-900);
  --color-charcoal-rgb: var(--colour-greyscale-900-rgb);
  --color-battleship-grey: var(--colour-greyscale-700);
  --color-taupe-grey: var(--colour-greyscale-600);
  --color-serenity: var(--colour-greyscale-100);
  --color-platinum: var(--colour-greyscale-200);
  --color-white-smoke: var(--colour-greyscale-100);
  --color-white: var(--colour-greyscale-0);
  --color-transparent: var(--colour-transparent);
}
