:root {
  --color-lavender: #c9e8fb;
  --color-sky-blue: #71cbf4;
  --color-midnight-blue: #005380;

  --color-tea-green: #d9e6b1;
  --color-lily-green: #bbd143;
  --color-mexican-green: #005629;

  --color-champagne: #ffeea4;
  --color-harvest-gold: #dd9c00;

  --color-dusky-pink: #f6b2b6;
  --color-shocking-pink: #ec6084;
  --color-terracotta: #a81815;

  --color-earth-brown: #b65f17;
  --color-earth-brown-dark: #854612;
  --color-earth-brown-darkest: #64340d;

  --color-super-blue-lightest: #e3f2fd;
  --color-super-blue-light: #8ecafb;
  --color-super-blue: #0076d6;
  --color-super-blue-dark: #175ea1;
  --color-super-blue-darkest: #003662;

  --color-leafy-green-lightest: #e5f4ea;
  --color-leafy-green-light: #97d3ab;
  --color-leafy-green: #028844;
  --color-leafy-green-dark: #005826;
  --color-leafy-green-darkest: #003119;

  --color-poppy-red-lightest: #ffeaec;
  --color-poppy-red-light: #f09491;
  --color-poppy-red: #e22922;

  --color-poppy-red-dark: #b50005;

  --color-dandelion-yellow-lightest: #fdf8cd;
  --color-dandelion-yellow-light: #ffef67;
  --color-dandelion-yellow: #ffd500;

  --color-black: #000;
  --color-charcoal: #333;
  --color-battleship-grey: #575756;
  --color-taupe-grey: #929292;
  --color-serenity: #faf7f5;
  --color-platinum: #e3e3e3;
  --color-white-smoke: #f6f6f6;
  --color-white: #fff;
}
