:root {
  --color-lavender: #c9e8fb;
  --color-sky-blue: #71cbf4;
  --color-super-blue: #0076d6;
  --color-midnight-blue: #004e86;

  --color-tea-green: #d9e6b1;
  --color-lily-green: #bbd143;
  --color-leafy-green: #028844;
  --color-mexican-green: #005629;

  --color-champagne: #ffeea4;
  --color-dandelion: #ffd500;
  --color-harvest-gold: #dd9c00;
  --color-earth-brown: #b65f17;

  --color-dusky-pink: #f6b2b6;
  --color-shocking-pink: #ec6084;
  --color-poppy-red: #e22922;
  --color-terracotta: #a81815;

  --color-super-blue-lightest: #e3f2fd;
  --color-super-blue-light: #8ecafb;
  --color-super-blue-dark: #175ea1;

  --color-leafy-green-lightest: #e5f4ea;
  --color-leafy-green-light: #97d3ab;
  --color-leafy-green-dark: #005826;

  --color-poppy-red-lightest: #ffeaec;
  --color-poppy-red-light: #f09491;
  --color-poppy-red-dark: #b50005;

  --color-dandelion-lightest: #fdf8cd;
  --color-dandelion-light: #ffef67;
  --color-dandelion-dark: #c1a309;

  --color-black: #000;
  --color-charcoal: #333;
  --color-battleship-gray: #575756;
  --color-taupe-grey: #929292;
  --color-platinum: #e3e3e3;
  --color-white-smoke: #f6f6f6;
  --color-white: #fff;

  // The rgb value is needed to apply opacity: https://github.com/sass/node-sass/issues/2251
  --color-white-rgb: 255, 255, 255;
}
