:root {
  --border-width: 0.0625rem;
  --border-radius-sm: 0.125rem;
  --border-radius-lg: 0.25rem;

  --drop-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.12),
    0 0 0.25rem 0 rgba(0, 0, 0, 0.16);
  --bottom-shadow: 0 0.3125rem 0.25rem 0 rgba(0, 0, 0, 0.03);

  --default-focus-color: var(--color-dandelion-yellow);

  /* Animation */
  --animation-duration: 0.25s;
  --animation-fn: ease-out;
  --animation-cubic-bazier-fn: cubic-bezier(0.4, 0, 0.2, 1);

  /* Icon */
  --icon-width: 1.25em;
  --icon-height: 1.25em;
  --icon-line-height: 1em;

  /* Links */
  --link-color: var(--color-super-blue);
  --link-hover-color: var(--color-super-blue-dark);
  --link-visited-color: var(--color-super-blue-darkest);
  --link-focus-background-color: var(--color-black);
  --link-focus-color: var(--color-white);

  --disabled-color: var(--color-platinum);

  --btn-font-size: var(--text-base-size);
  --btn-radius: var(--border-radius-sm);

  /* Form Fields */
  --outline-color: var(--color-dandelion-yellow);
  --outline-width: 0.1875rem;

  --border-color: var(--color-taupe-grey);
  --border-hover-color: var(--color-battleship-grey);
  --border-focus-color: var(--color-battleship-grey);
  --border-disabled-color: var(--color-platinum);

  --background-disabled-color: var(--color-white-smoke);

  --keyline-width: 0.1875rem;
}
