:root {
  --border-width: 0.0625rem;
  --border-radius-sm: 0.125rem;
  --border-radius-lg: 0.25rem;

  --drop-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.08);
  --bottom-shadow: 0 0.3125rem 0.25rem 0 rgba(0, 0, 0, 0.03);

  /* Animation */
  --animation-duration: 0.25s;
  --animation-fn: ease-out;

  /* Links */
  --link-color: var(--color-charcoal);
  --link-hover-color: var(--color-leafy-green-dark);
  --link-visited-color: var(--color-battleship-grey);
  --link-focus-background-color: var(--color-black);
  --link-focus-color: var(--color-white);

  --disabled-color: var(--color-platinum);

  --btn-font-size: var(--text-base-size);
  --btn-radius: var(--border-radius-sm);

  /* Form Fields */
  --outline-color: var(--color-dandelion-yellow);
  --outline-width: 0.1875rem;

  --border-color: var(--color-taupe-grey);
  --border-hover-color: var(--color-battleship-grey);
  --border-focus-color: var(--color-battleship-grey);

  --disabled-color: var(--color-taupe-grey);
  --border-disabled-color: var(--color-platinum);
  --background-disabled-color: var(--color-white-smoke);

  --keyline-width: 0.1875rem;

  --checkmark-color: var(--color-super-blue);
  --checkmark-disabled-color: var(--color-taupe-grey);
  --checkmark-inner-height: 0.5rem;
  --checkmark-inner-width: var(--checkmark-inner-height);
  --checkmark-outer-height: 1rem;
  --checkmark-outer-width: var(--checkmark-outer-height);
}
