:root {
  --border-width: 1px;
  --border-radius-small: 2px;
  --border-radius-large: 4px;

  /* Animation */
  --animation-duration: 0.25s;
  --animation-fn: ease-out;

  /* Links */
  --link-color: var(--color-charcoal);
  --link-hover-color: var(--color-mexican-green);
  --link-visited-color: var(--color-platinum);

  --disabled-color: #ccc;

  --btn-font-size: var(--text-base-size);
  --btn-radius: var(--border-radius-sm);

  /* Form Fields */
  --outline-color: var(--color-dandelion);
  --outline-width: 3px;

  --border-color: var(--color-charcoal);
  --border-hover-color: var(--color-taupe-grey);

  --keyline-width: 3px;
  --checkmark-color: var(--color-super-blue);
}
