:root {
  --border-width: 0.0625rem;
  --border-radius-sm: 0.125rem;
  --border-radius-lg: 0.25rem;

  --drop-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.12), 0 0 0.25rem 0 rgba(0, 0, 0, 0.16);
  --bottom-shadow: 0 0.3125rem 0.25rem 0 rgba(0, 0, 0, 0.03);
  --overlay-color: rgba(0, 0, 0, 0.5);

  --default-focus-color: var(--color-dandelion-yellow);
  --default-inner-focus-color: var(--color-black);

  /* z-index */
  --z-index-header: 100;
  --z-index-modal-overlay: 1000;
  --z-index-modal: 1010;
  --z-index-carousel-autoplay: 1;
  --z-index-skip-link: 1020;

  /* Animation */
  --animation-duration: 0.25s;
  --animation-fn: ease-out;
  --animation-cubic-bezier-fn: cubic-bezier(0.4, 0, 0.2, 1);

  /* Icon */
  --icon-width: 1.125em;
  --icon-height: 1.125em;
  --icon-line-height: 1em;

  /* Links */
  --link-color: var(--color-super-blue);
  --link-hover-color: var(--color-super-blue-dark);
  --link-visited-color: var(--color--charcoal);
  --link-active-color: var(--color-super-blue-dark);
  --link-active-bg-color: var(--color-super-blue-lightest);
  --link-focus-color: var(--color-white);
  --link-focus-bg-color: var(--color-super-blue-darkest);

  --disabled-color: var(--color-taupe-grey);

  --btn-font-size: var(--text-base-size);
  --btn-radius: var(--border-radius-sm);

  --inner-focus-width: 0.125rem;
  --outer-focus-width: 0.375rem;

  /* Form Fields */
  --outline-color: var(--color-dandelion-yellow);
  --outline-width: 0.1875rem;

  --border-color: var(--color-taupe-grey);
  --border-hover-color: var(--color-battleship-grey);
  --border-focus-color: var(--color-battleship-grey);
  --border-disabled-color: var(--color-platinum);

  --background-disabled-color: var(--color-white-smoke);

  --keyline-width: 0.1875rem;

  --form-field-vertical-padding: 0.5625rem; // 9px

  /* Separator */
  --separator-color: var(--color-platinum);
}
