@use '../mixins';

:root {
  --font-family: var(--typeface-productive), 'Arial', sans-serif; // default font
  --font-family-expressive: var(--typeface-expressive), 'Times new roman', serif;
  --text-default: var(--colour-greyscale-900);

  --text-base-size: var(--font-size-1); // base font size
  --text-base-line-height: var(--line-height-1); // base line height
  --text-bottom-margin: 1em;

  // mapping font weights to defaults
  --font-weight-300: var(--font-weight-300-productive);
  --font-weight-400: var(--font-weight-400-productive);
  --font-weight-500: var(--font-weight-500-productive);
  --font-weight-700: var(--font-weight-700-productive);

  // Font sizes - default to sm breakpoint
  $font-sizes: '0-6', '0-8', '1', '2', '3', '4', '5', '6', '7', '8', '9';
  @each $size in $font-sizes {
    --font-size-#{$size}: var(--font-size-#{$size}-sm);
  }

  // Line heights - default to sm breakpoint
  @each $size in $font-sizes {
    --line-height-#{$size}: var(--line-height-#{$size}-sm);
  }

  // Apply breakpoint-specific values
  $breakpoints: 'md', 'lg', 'xl', 'xxl';
  @each $breakpoint in $breakpoints {
    @include mixins.lg-breakpoint($breakpoint) {
      @each $size in $font-sizes {
        --font-size-#{$size}: var(--font-size-#{$size}-#{$breakpoint});
      }

      @each $size in $font-sizes {
        --line-height-#{$size}: var(--line-height-#{$size}-#{$breakpoint});
      }
    }
  }
}
