:root {
  --dark-foreground-link-color: var(--colour-greyscale-900);
  --dark-foreground-link-hover-color: var(--colour-greyscale-900);
  --dark-foreground-link-visited-color: var(--colour-greyscale-1000);
  --dark-foreground-link-active-color: var(--colour-greyscale-1000);
  --dark-foreground-link-active-bg-color: var(--colour-greyscale-1000);
  --dark-foreground-link-focus-color: var(--colour-greyscale-1000);
  --dark-foreground-link-focus-bg-color: var(--colour-greyscale-1000);

  --light-foreground-link-color: var(--colour-greyscale-0);
  --light-foreground-link-hover-color: var(--colour-greyscale-0);
  --light-foreground-link-visited-color: var(--colour-greyscale-0);
  --light-foreground-link-active-color: var(--colour-greyscale-0);
  --light-foreground-link-active-bg-color: var(--colour-greyscale-0);
  --light-foreground-link-focus-color: var(--colour-greyscale-0);
  --light-foreground-link-focus-bg-color: var(--colour-greyscale-0);

  --form-error-color: var(--colour-red-800);
  --form-error-border-color: var(--colour-red-600);
}
