:root {
  --dark-foreground-link-color: var(--color-charcoal);
  --dark-foreground-link-hover-color: var(--color-charcoal);
  --dark-foreground-link-visited-color: var(--color-black);
  --dark-foreground-link-active-color: var(--color-black);
  --dark-foreground-link-active-bg-color: var(--color-white);
  --dark-foreground-link-focus-color: var(--color-white);
  --dark-foreground-link-focus-bg-color: var(--color-black);

  --light-foreground-link-color: var(--color-white);
  --light-foreground-link-hover-color: var(--color-white);
  --light-foreground-link-visited-color: var(--color-white);
  --light-foreground-link-active-color: var(--color-white);
  --light-foreground-link-active-bg-color: rgba(0, 0, 0, 0.5);
  --light-foreground-link-focus-color: var(--color-charcoal);
  --light-foreground-link-focus-bg-color: var(--color-white);

  --generic-bg-color: var(--color-white-smoke);
  --generic-color: var(--color-charcoal);
  --generic-link-color: var(--generic-color);
  --generic-link-hover-color: var(--generic-color);
  --generic-link-visited-color: var(--color-black);
  --generic-link-active-color: var(--color-black);
  --generic-link-active-bg-color: var(--color-white);
  --generic-link-focus-color: var(--color-white);
  --generic-link-focus-bg-color: var(--color-black);

  --info-bg-color: var(--color-super-blue-lightest);
  --info-color: var(--color-midnight-blue);
  --info-link-color: var(--info-color);
  --info-link-hover-color: var(--info-color);
  --info-link-visited-color: var(--color--charcoal);
  --info-link-active-color: var(--info-color);
  --info-link-active-bg-color: var(--color-white);
  --info-link-focus-color: var(--color-white);
  --info-link-focus-bg-color: var(--color-super-blue-darkest);

  --success-bg-color: var(--color-leafy-green-lightest);
  --success-color: var(--color-mexican-green);
  --success-link-color: var(--success-color);
  --success-link-hover-color: var(--success-color);
  --success-link-visited-color: var(--color--charcoal);
  --success-link-active-color: var(--success-color);
  --success-link-active-bg-color: var(--color-white);
  --success-link-focus-color: var(--color-white);
  --success-link-focus-bg-color: var(--color-leafy-green-dark);

  --warning-bg-color: var(--color-dandelion-yellow-lightest);
  --warning-color: var(--color-earth-brown-dark);
  --warning-link-color: var(--warning-color);
  --warning-link-hover-color: var(--warning-color);
  --warning-link-visited-color: var(--color--charcoal);
  --warning-link-active-color: var(--warning-color);
  --warning-link-active-bg-color: var(--color-white);
  --warning-link-focus-color: var(--color-white);
  --warning-link-focus-bg-color: var(--color-earth-brown-dark);

  --error-bg-color: var(--color-poppy-red-lightest);
  --error-color: var(--color-terracotta);
  --error-link-color: var(--error-color);
  --error-link-hover-color: var(--error-color);
  --error-link-visited-color: var(--color--charcoal);
  --error-link-active-color: var(--error-color);
  --error-link-active-bg-color: var(--color-white);
  --error-link-focus-color: var(--color-white);
  --error-link-focus-bg-color: var(--color-earth-brown-darkest);

  --form-error-color: var(--color-terracotta);
  --form-error-border-color: var(--color-poppy-red);

  // New variables

  --theme-1-bold-bg-color: var(--color-super-blue);
  --theme-1-bold-light-color: var(--color-white);
  --theme-1-bold-dark-color: var(--color-black);

  --theme-1-subtle-bg-color: var(--color-super-blue-lightest);
  --theme-1-subtle-light-color: var(--color-super-blue-light);
  --theme-1-subtle-dark-color: var(--color-super-blue-darkest);

  --theme-2-bold-bg-color: var(--color-leafy-green);
  --theme-2-bold-light-color: var(--color-white);
  --theme-2-bold-dark-color: var(--color-black);

  --theme-2-subtle-bg-color: var(--color-leafy-green-lightest);
  --theme-2-subtle-light-color: var(--color-leafy-green-light);
  --theme-2-subtle-dark-color: var(--color-leafy-green-darkest);

  --theme-3-bold-bg-color: var(--color-dandelion-yellow);
  --theme-3-bold-light-color: var(--color-white);
  --theme-3-bold-dark-color: var(--color-black);

  --theme-3-subtle-bg-color: var(--color-dandelion-yellow-lightest);
  --theme-3-subtle-light-color: var(--color-dandelion-yellow-light);
  --theme-3-subtle-dark-color: var(--color-dandelion-yellow-darkest);

  --theme-4-bold-bg-color: var(--color-poppy-red);
  --theme-4-bold-light-color: var(--color-white);
  --theme-4-bold-dark-color: var(--color-black);

  --theme-4-subtle-bg-color: var(--color-poppy-red-lightest);
  --theme-4-subtle-light-color: var(--color-poppy-red-light);
  --theme-4-subtle-dark-color: var(--color-poppy-red-darkest);

  --theme-5-subtle-bg-color: var(--color-white-smoke);
  --theme-5-subtle-light-color: var(--color-platinum);
  --theme-5-subtle-dark-color: var(--color-charcoal);
}
