:root {
  --dark-foreground-link-color: var(--colour-greyscale-900);
  --dark-foreground-link-hover-color: var(--colour-greyscale-900);
  --dark-foreground-link-visited-color: var(--colour-greyscale-1000);
  --dark-foreground-link-active-color: var(--colour-greyscale-1000);
  --dark-foreground-link-active-bg-color: var(--colour-greyscale-0);
  --dark-foreground-link-focus-color: var(--colour-greyscale-0);
  --dark-foreground-link-focus-bg-color: var(--colour-greyscale-1000);

  --light-foreground-link-color: var(--colour-greyscale-0);
  --light-foreground-link-hover-color: var(--colour-greyscale-0);
  --light-foreground-link-visited-color: var(--colour-greyscale-0);
  --light-foreground-link-active-color: var(--colour-greyscale-0);
  --light-foreground-link-active-bg-color: rgba(0, 0, 0, 0.5);
  --light-foreground-link-focus-color: var(--colour-greyscale-900);
  --light-foreground-link-focus-bg-color: var(--colour-greyscale-0);

  --generic-bg-color: var(--colour-greyscale-100);
  --generic-color: var(--colour-greyscale-900);
  --generic-link-color: var(--generic-color);
  --generic-link-hover-color: var(--generic-color);
  --generic-link-visited-color: var(--colour-greyscale-1000);
  --generic-link-active-color: var(--colour-greyscale-1000);
  --generic-link-active-bg-color: var(--colour-greyscale-0);
  --generic-link-focus-color: var(--colour-greyscale-0);
  --generic-link-focus-bg-color: var(--colour-greyscale-1000);

  --info-bg-color: var(--colour-blue-100);
  --info-color: var(--colour-blue-800);
  --info-link-color: var(--info-color);
  --info-link-hover-color: var(--info-color);
  --info-link-visited-color: var(--colour-greyscale-900);
  --info-link-active-color: var(--info-color);
  --info-link-active-bg-color: var(--colour-greyscale-0);
  --info-link-focus-color: var(--colour-greyscale-0);
  --info-link-focus-bg-color: var(--colour-blue-900);

  --success-bg-color: var(--colour-green-100);
  --success-color: var(--colour-green-700);
  --success-link-color: var(--success-color);
  --success-link-hover-color: var(--success-color);
  --success-link-visited-color: var(--colour-greyscale-900);
  --success-link-active-color: var(--success-color);
  --success-link-active-bg-color: var(--colour-greyscale-0);
  --success-link-focus-color: var(--colour-greyscale-0);
  --success-link-focus-bg-color: var(--colour-green-800);

  --warning-bg-color: var(--colour-yellow-100);
  --warning-color: var(--colour-yellow-900);
  --warning-link-color: var(--warning-color);
  --warning-link-hover-color: var(--warning-color);
  --warning-link-visited-color: var(--colour-greyscale-900);
  --warning-link-active-color: var(--warning-color);
  --warning-link-active-bg-color: var(--colour-greyscale-0);
  --warning-link-focus-color: var(--colour-greyscale-0);
  --warning-link-focus-bg-color: var(--colour-yellow-900);

  --error-bg-color: var(--colour-red-100);
  --error-color: var(--colour-red-800);
  --error-link-color: var(--error-color);
  --error-link-hover-color: var(--error-color);
  --error-link-visited-color: var(--colour-greyscale-900);
  --error-link-active-color: var(--error-color);
  --error-link-active-bg-color: var(--colour-greyscale-0);
  --error-link-focus-color: var(--colour-greyscale-0);
  --error-link-focus-bg-color: var(--colour-yellow-1000);

  --form-error-color: var(--colour-red-800);
  --form-error-border-color: var(--colour-red-600);
}
