:root {
  /**
   * @tokens Link
   * @presenter Color
   */
  --link-gap: 0.5rem; /* Link Gap */
  --link-group-gap: 1rem; /* Link Group Gap */
  --link-menu-border-colour: #d3d3d3; /* Link Menu Border Colour */
  --link-menu-border-radius: 1rem; /* Link Menu Border Radius */
  --link-menu-border-width: 0.0625rem; /* Link Menu Border Width */
  --link-menu-item-active-background-colour: #005dba; /* Link Menu Item Active Background Colour */
  --link-menu-item-active-border-colour: #ffffff; /* Link Menu Item Active Border Colour */
  --link-menu-item-active-border-width-bottom: 0.0625rem; /* Link Menu Item Active Border Width Bottom */
  --link-menu-item-active-colour: #ffffff; /* Link Menu Item Active Colour */
  --link-menu-item-active-colour-muted: #ffffff; /* Link Menu Item Active Colour Muted */
  --link-menu-item-focus-border-colour: #1d1d1b; /* Link Menu Item Focus Border Colour */
  --link-menu-item-focus-border-width: 0.1875rem; /* Link Menu Item Focus Border Width */
  --link-menu-item-focus-colour: #1d1d1b; /* Link Menu Item Focus Colour */
  --link-menu-item-focus-colour-muted: #1d1d1b; /* Link Menu Item Focus Colour Muted */
  --link-menu-item-gap: 0.75rem; /* Link Menu Item Gap */
  --link-menu-item-hover-background-colour: #aee1f7; /* Link Menu Item Hover Background Colour */
  --link-menu-item-hover-border-colour: #001d6e; /* Link Menu Item Hover Border Colour */
  --link-menu-item-hover-border-width-bottom: 0.1875rem; /* Link Menu Item Hover Border Width Bottom */
  --link-menu-item-hover-colour: #1d1d1b; /* Link Menu Item Hover Colour */
  --link-menu-item-hover-colour-muted: #1d1d1b; /* Link Menu Item Hover Colour Muted */
  --link-menu-item-hover-padding-right: 0.5rem; /* Link Menu Item Hover Padding Right */
  --link-menu-item-padding-bottom: 1rem; /* Link Menu Item Padding Bottom */
  --link-menu-item-padding-left: 1rem; /* Link Menu Item Padding Left */
  --link-menu-item-padding-right: 0.5rem; /* Link Menu Item Padding Right */
  --link-menu-item-padding-top: 1rem; /* Link Menu Item Padding Top */
  --link-menu-item-rest-border-colour: #d3d3d3; /* Link Menu Item Rest Border Colour */
  --link-menu-item-rest-border-width-bottom: 0.0625rem; /* Link Menu Item Rest Border Width Bottom */
  --link-menu-item-rest-colour: #1d1d1b; /* Link Menu Item Rest Colour */
  --link-menu-item-rest-colour-muted: #4d4f4f; /* Link Menu Item Rest Colour Muted */
  --link-mono-active-colour: #000000; /* Link Mono Active Colour */
  --link-mono-focus-border-radius: 0.25rem; /* Link Mono Focus Border Radius */
  --link-mono-focus-border-width: 0.0625rem; /* Link Mono Focus Border Width */
  --link-mono-focus-colour: #000000; /* Link Mono Focus Colour */
  --link-mono-hover-colour: #000000; /* Link Mono Hover Colour */
  --link-mono-rest-colour: #000000; /* Link Mono Rest Colour */
  --link-mono-visited-colour: #000000; /* Link Mono Visited Colour */
  --link-primary-active-colour: #000a52; /* Link Primary Active Colour */
  --link-primary-focus-border-radius: 0.25rem; /* Link Primary Focus Border Radius */
  --link-primary-focus-border-width: 0.0625rem; /* Link Primary Focus Border Width */
  --link-primary-focus-colour: #005dba; /* Link Primary Focus Colour */
  --link-primary-hover-colour: #001d6e; /* Link Primary Hover Colour */
  --link-primary-rest-colour: #005dba; /* Link Primary Rest Colour */
  --link-primary-visited-colour: #1d1d1b; /* Link Primary Visited Colour */
  --link-status-bold-active-colour: #f4f4f4; /* Link Status Bold Active Colour */
  --link-status-bold-focus-border-radius: 0.25rem; /* Link Status Bold Focus Border Radius */
  --link-status-bold-focus-border-width: 0.0625rem; /* Link Status Bold Focus Border Width */
  --link-status-bold-focus-colour: #f4f4f4; /* Link Status Bold Focus Colour */
  --link-status-bold-hover-colour: #f4f4f4; /* Link Status Bold Hover Colour */
  --link-status-bold-rest-colour: #f4f4f4; /* Link Status Bold Rest Colour */
  --link-status-bold-visited-colour: #f4f4f4; /* Link Status Bold Visited Colour */
  --link-status-subtle-active-colour: #000000; /* Link Status Subtle Active Colour */
  --link-status-subtle-focus-border-radius: 0.25rem; /* Link Status Subtle Focus Border Radius */
  --link-status-subtle-focus-border-width: 0.0625rem; /* Link Status Subtle Focus Border Width */
  --link-status-subtle-focus-colour: #000000; /* Link Status Subtle Focus Colour */
  --link-status-subtle-hover-colour: #000000; /* Link Status Subtle Hover Colour */
  --link-status-subtle-rest-colour: #000000; /* Link Status Subtle Rest Colour */
  --link-status-subtle-visited-colour: #000000; /* Link Status Subtle Visited Colour */
}
