:root {
  --custom-list-counter-color: currentColor;
}

ol {
  &.lg-expressive-list {
    counter-reset: custom-counter;
    list-style: none;
    margin: 0;

    & > li {
      counter-increment: custom-counter;
      position: relative;
      padding-left: var(--space-5);
      padding-bottom: var(--space-4);

      &::before {
        color: var(--custom-list-counter-color);
        content: counter(custom-counter) ' ';
        font-family: var(--font-family-expressive);
        font-variant-numeric: lining-nums;
        font-weight: bold;
        padding: 0;
        position: absolute;
        left: 0;
      }
    }
  }
}
