/*
  $bg-color: background color of the element.
  $color: colour of the outline.
  Sets the focus outline inside the element, by using multiple box shadows
*/
@mixin lg-inner-focus-outline($bg-color, $color: var(--color-white)) {
  outline: 0;
  box-shadow: inset 0 0 0 0.25rem $bg-color, inset 0 0 0 0.3rem $color;
}

@mixin lg-outer-focus-outline($bg-color: var(--default-focus-color)) {
  outline: 0;
  box-shadow: 0 0 0 0.25rem $bg-color;
}

@mixin lg-link(
  $default-color: var(--link-color),
  $hover-color: var(--link-hover-color),
  $visited-color: var(--link-visited-color),
  $active-color: var(--link-active-color),
  $active-bg-color: var(--link-active-bg-color),
  $focus-color: var(--link-focus-color),
  $focus-bg-color: var(--link-focus-bg-color)
) {
  $box-shadow-inset-width: -0.063rem;

  color: $default-color;
  text-decoration: none;
  border-bottom: 0.125rem solid $default-color;
  padding: 0 0.125rem;

  &:hover {
    color: $hover-color;
    border-bottom: 0;
    box-shadow: inset 0 $box-shadow-inset-width 0 0 $hover-color,
      0 0.188rem 0 0 $hover-color;
  }

  &:visited {
    color: $visited-color;
    border-color: $visited-color;
  }

  &:active {
    background-color: $active-bg-color;
    border-bottom-color: $active-color;
    color: $active-color;
    outline: 0;
  }

  &:focus {
    background-color: $focus-bg-color;
    border-bottom: 0;
    color: $focus-color;
    outline: 0.063rem solid $focus-bg-color;
    outline-offset: 0;

    &:hover {
      box-shadow: none;
    }
  }
}

@mixin lg-unstyled-link() {
  text-decoration: underline;
  border-bottom: 0;
  padding: 0;

  &:hover {
    border-bottom: 0;
    box-shadow: none;
  }

  &:active,
  &:focus {
    background-color: transparent;
  }

  &:focus {
    @include lg-outer-focus-outline;
  }
}

@mixin lg-font-size($size, $modifier: null) {
  font-size: var(--text-fs-#{$size}-size);
  line-height: var(--text-fs-#{$size}-line-height);

  @if $modifier {
    font-weight: var(--text-fs-#{$size}-weight--#{$modifier});
  } @else {
    font-weight: var(--text-fs-#{$size}-weight);
  }
}

@mixin lg-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.0625em;
  white-space: nowrap;
}

$breakpoints: (
  // 320
  'sm': 20rem,
  // 768
  'md': 48rem,
  // 1024
  'lg': 64rem,
  // 1280
  'xl': 80rem,
  // 1440
  'xxl': 90rem
) !default;

/*
  $breakpoint: string value for the breakpoint screen size.
  Creates a mixin which allows breakpoints to be added to css blocks
*/
@mixin lg-breakpoint($breakpoint, $range: 'min-width') {
  @if map-has-key($breakpoints, $breakpoint) {
    @media ($range: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
      + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin lg-variant($variant: 'generic') {
  background-color: var(--#{$variant}-bg-color);
  color: var(--#{$variant}-color);

  a {
    @include lg-link(
      $default-color: var(--#{$variant}-link-color),
      $hover-color: var(--#{$variant}-link-hover-color),
      $visited-color: var(--#{$variant}-link-visited-color),
      $active-color: var(--#{$variant}-link-active-color),
      $active-bg-color: var(--#{$variant}-link-active-bg-color),
      $focus-color: var(--#{$variant}-link-focus-color),
      $focus-bg-color: var(--#{$variant}-link-focus-bg-color)
    );
  }
}
