@use 'mixins';

.lg-orientation {
  display: flex !important;
  flex-direction: column;

  &.lg-orientation--sm--vertical {
    flex-direction: column;
  }

  &.lg-orientation--sm--horizontal {
    flex-direction: row;
  }

  @include mixins.lg-breakpoint('md') {
    flex-direction: row;

    &.lg-orientation--md--vertical {
      flex-direction: column;
    }

    &.lg-orientation--md--horizontal {
      flex-direction: row;
    }
  }

  @include mixins.lg-breakpoint('lg') {
    flex-direction: column;

    &.lg-orientation--lg--vertical {
      flex-direction: column;
    }

    &.lg-orientation--lg--horizontal {
      flex-direction: row;
    }
  }

  @include mixins.lg-breakpoint('xl') {
    flex-direction: column;

    &.lg-orientation--xl--vertical {
      flex-direction: column;
    }

    &.lg-orientation--xl--horizontal {
      flex-direction: row;
    }
  }

  @include mixins.lg-breakpoint('xxl') {
    flex-direction: column;

    &.lg-orientation--xxl--vertical {
      flex-direction: column;
    }

    &.lg-orientation--xxl--horizontal {
      flex-direction: row;
    }
  }
}
