:root {
  /* spacing values */
  --space-unit: 1rem;
  --space-xxxs: calc(0.25 * var(--space-unit)); // 4
  --space-xxs: calc(0.5 * var(--space-unit)); // 8
  --space-xs: calc(0.75 * var(--space-unit)); // 12
  --space-sm: var(--space-unit); // 16
  --space-md: calc(1.5 * var(--space-unit)); // 24
  --space-lg: calc(2 * var(--space-unit)); // 32
  --space-xl: calc(2.5 * var(--space-unit)); // 40
  --space-xxl: calc(3 * var(--space-unit)); // 48
  --space-xxxl: calc(4.5 * var(--space-unit)); // 72
  --space-xxxxl: calc(9 * var(--space-unit)); // 144

  --component-padding: var(--space-sm);
  --component-margin: var(--space-md);

  @include lg-breakpoint('md') {
    --component-padding: var(--space-lg);
  }

  @include lg-breakpoint('lg') {
    --component-margin: var(--space-lg);
  }
}

$spacing-list: (
  'none',
  'xxxs',
  'xxs',
  'xs',
  'sm',
  'md',
  'lg',
  'xl',
  'xxl',
  'xxxl',
  'xxxxl'
);

@function space($val) {
  @if $val == 'none' {
    @return 0;
  } @else {
    @return var(--space-#{$val});
  }
}

@each $val in $spacing-list {
  .lg-margin--#{$val} {
    margin: space($val) !important;
  }

  .lg-padding--#{$val} {
    padding: space($val) !important;
  }
}

@each $val in $spacing-list {
  .lg-margin__top--#{$val} {
    margin-top: space($val) !important;
  }

  .lg-padding__top--#{$val} {
    padding-top: space($val) !important;
  }

  .lg-margin__right--#{$val} {
    margin-right: space($val) !important;
  }

  .lg-padding__right--#{$val} {
    padding-right: space($val) !important;
  }

  .lg-margin__bottom--#{$val} {
    margin-bottom: space($val) !important;
  }

  .lg-padding__bottom--#{$val} {
    padding-bottom: space($val) !important;
  }

  .lg-margin__left--#{$val} {
    margin-left: space($val) !important;
  }

  .lg-padding__left--#{$val} {
    padding-left: space($val) !important;
  }
}

html,
body {
  height: 100%;
}
