:root {
  /* spacing values */
  --space-unit: 1em;
  --space-xxxs: calc(0.25 * var(--space-unit)); // 4
  --space-xxs: calc(0.5 * var(--space-unit)); // 8
  --space-xs: calc(0.75 * var(--space-unit)); // 12
  --space-sm: var(--space-unit); // 16
  --space-md: calc(1.5 * var(--space-unit)); // 24
  --space-lg: calc(2 * var(--space-unit)); // 32
  --space-xl: calc(2.5 * var(--space-unit)); // 40
  --space-xxl: calc(3 * var(--space-unit)); // 48
  --space-xxxl: calc(4.5 * var(--space-unit)); // 72
  --space-xxxxl: calc(9 * var(--space-unit)); // 144

  --component-padding: var(--space-sm);
  --component-margin: var(--space-sm);

  @include breakpoint('md') {
    --component-margin: var(--space-lg);
  }
}

/* vertical margins */
.margin-top,
.margin-top--md {
  margin-top: var(--space-md);
}

.margin-top--sm {
  margin-top: var(--space-sm);
}

.margin-top--lg {
  margin-top: var(--space-lg);
}

.margin-top--xl {
  margin-top: var(--space-xl);
}

.margin-top--xxl {
  margin-top: var(--space-xxl);
}

.margin-bottom,
.margin-bottom--md {
  margin-bottom: var(--space-md);
}

.margin-bottom--sm {
  margin-bottom: var(--space-sm);
}

.margin-bottom--lg {
  margin-bottom: var(--space-lg);
}

.margin-bottom--xl {
  margin-bottom: var(--space-xl);
}

.margin-bottom--xxl {
  margin-bottom: var(--space-xxl);
}

html,
body {
  height: 100%;
}
