@use 'sass:list';
@use 'sass:map';
@use 'mixins';

:root {
  // Spacing values - default to sm breakpoint
  $space-values: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;
  @each $value in $space-values {
    --space-#{$value}: var(--space-#{$value}-sm);
  }

  // Apply breakpoint-specific values
  $breakpoints: 'md', 'lg', 'xl', 'xxl';
  @each $breakpoint in $breakpoints {
    @include mixins.lg-breakpoint($breakpoint) {
      @each $value in $space-values {
        --space-#{$value}: var(--space-#{$value}-#{$breakpoint});
      }
    }
  }

  --component-padding: var(--space-4);
  --component-margin: var(--space-5);

  @include mixins.lg-breakpoint('md') {
    --component-padding: var(--space-6);
  }

  @include mixins.lg-breakpoint('lg') {
    --component-margin: var(--space-6);
  }
}

$spacing-list: ('none', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10');

@function space($val) {
  @if $val == 'none' {
    @return 0;
  } @else {
    @return var(--space-#{$val});
  }
}

// Default margin / padding / row-gap
@each $val in $spacing-list {
  .lg-margin--#{$val} {
    margin: space($val) !important;
  }

  .lg-padding--#{$val} {
    padding: space($val) !important;
  }

  .lg-row-gap--#{$val} {
    row-gap: space($val) !important;
  }
}

// Specific margin / padding
@each $val in $spacing-list {
  .lg-margin__top--#{$val} {
    margin-top: space($val) !important;
  }

  .lg-padding__top--#{$val} {
    padding-top: space($val) !important;
  }

  .lg-margin__right--#{$val} {
    margin-right: space($val) !important;
  }

  .lg-padding__right--#{$val} {
    padding-right: space($val) !important;
  }

  .lg-margin__bottom--#{$val} {
    margin-bottom: space($val) !important;
  }

  .lg-padding__bottom--#{$val} {
    padding-bottom: space($val) !important;
  }

  .lg-margin__left--#{$val} {
    margin-left: space($val) !important;
  }

  .lg-padding__left--#{$val} {
    padding-left: space($val) !important;
  }
}

// Breakpoint-specific none classes
// Generate breakpoint list from the breakpoints map in mixins
$breakpoint-list: map.keys(mixins.$breakpoints);

// Mixin to generate none classes for a specific property and breakpoint
// Duplicate class selector to increase specificity (0,2,0) vs regular classes (0,1,0)
@mixin generate-none-classes($property, $breakpoint) {
  .lg-#{$property}--#{$breakpoint}--none.lg-#{$property}--#{$breakpoint}--none {
    #{$property}: 0 !important;
  }

  .lg-#{$property}__top--#{$breakpoint}--none.lg-#{$property}__top--#{$breakpoint}--none {
    #{$property}-top: 0 !important;
  }

  .lg-#{$property}__right--#{$breakpoint}--none.lg-#{$property}__right--#{$breakpoint}--none {
    #{$property}-right: 0 !important;
  }

  .lg-#{$property}__bottom--#{$breakpoint}--none.lg-#{$property}__bottom--#{$breakpoint}--none {
    #{$property}-bottom: 0 !important;
  }

  .lg-#{$property}__left--#{$breakpoint}--none.lg-#{$property}__left--#{$breakpoint}--none {
    #{$property}-left: 0 !important;
  }
}

// Generate none classes for each breakpoint with proper ranges
@each $breakpoint in $breakpoint-list {
  $index: list.index($breakpoint-list, $breakpoint);

  @if $index < list.length($breakpoint-list) {
    // Get the next breakpoint to create a range
    $next-breakpoint: list.nth($breakpoint-list, $index + 1);

    // Use the new range functionality in lg-breakpoint
    @include mixins.lg-breakpoint($breakpoint, 'range', $next-breakpoint) {
      @include generate-none-classes('margin', $breakpoint);
      @include generate-none-classes('padding', $breakpoint);
    }
  } @else {
    // Last breakpoint (xxl) uses simple min-width
    @include mixins.lg-breakpoint($breakpoint) {
      @include generate-none-classes('margin', $breakpoint);
      @include generate-none-classes('padding', $breakpoint);
    }
  }
}

html,
body {
  height: 100%;
}
