@use 'mixins';

:root {
  --space-1: var(--sm-space-1);
  --space-2: var(--sm-space-2);
  --space-3: var(--sm-space-3);
  --space-4: var(--sm-space-4);
  --space-5: var(--sm-space-5);
  --space-6: var(--sm-space-6);
  --space-7: var(--sm-space-7);
  --space-8: var(--sm-space-8);
  --space-9: var(--sm-space-9);
  --space-10: var(--sm-space-10);

  @include mixins.lg-breakpoint('md') {
    --space-1: var(--md-space-1);
    --space-2: var(--md-space-2);
    --space-3: var(--md-space-3);
    --space-4: var(--md-space-4);
    --space-5: var(--md-space-5);
    --space-6: var(--md-space-6);
    --space-7: var(--md-space-7);
    --space-8: var(--md-space-8);
    --space-9: var(--md-space-9);
    --space-10: var(--md-space-10);
  }

  @include mixins.lg-breakpoint('lg') {
    --space-1: var(--lg-space-1);
    --space-2: var(--lg-space-2);
    --space-3: var(--lg-space-3);
    --space-4: var(--lg-space-4);
    --space-5: var(--lg-space-5);
    --space-6: var(--lg-space-6);
    --space-7: var(--lg-space-7);
    --space-8: var(--lg-space-8);
    --space-9: var(--lg-space-9);
    --space-10: var(--lg-space-10);
  }

  @include mixins.lg-breakpoint('xl') {
    --space-1: var(--xl-space-1);
    --space-2: var(--xl-space-2);
    --space-3: var(--xl-space-3);
    --space-4: var(--xl-space-4);
    --space-5: var(--xl-space-5);
    --space-6: var(--xl-space-6);
    --space-7: var(--xl-space-7);
    --space-8: var(--xl-space-8);
    --space-9: var(--xl-space-9);
    --space-10: var(--xl-space-10);
  }

  @include mixins.lg-breakpoint('xxl') {
    --space-1: var(--xxl-space-1);
    --space-2: var(--xxl-space-2);
    --space-3: var(--xxl-space-3);
    --space-4: var(--xxl-space-4);
    --space-5: var(--xxl-space-5);
    --space-6: var(--xxl-space-6);
    --space-7: var(--xxl-space-7);
    --space-8: var(--xxl-space-8);
    --space-9: var(--xxl-space-9);
    --space-10: var(--xxl-space-10);
  }

  --component-padding: var(--space-4);
  --component-margin: var(--space-5);

  @include mixins.lg-breakpoint('md') {
    --component-padding: var(--space-6);
  }

  @include mixins.lg-breakpoint('lg') {
    --component-margin: var(--space-6);
  }
}

$spacing-list: ('none', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10');

@function space($val) {
  @if $val == 'none' {
    @return 0;
  } @else {
    @return var(--space-#{$val});
  }
}

// Default margin / padding / row-gap
@each $val in $spacing-list {
  .lg-margin--#{$val} {
    margin: space($val) !important;
  }

  .lg-padding--#{$val} {
    padding: space($val) !important;
  }

  .lg-row-gap--#{$val} {
    row-gap: space($val) !important;
  }
}

// Specific margin / padding
@each $val in $spacing-list {
  .lg-margin__top--#{$val} {
    margin-top: space($val) !important;
  }

  .lg-padding__top--#{$val} {
    padding-top: space($val) !important;
  }

  .lg-margin__right--#{$val} {
    margin-right: space($val) !important;
  }

  .lg-padding__right--#{$val} {
    padding-right: space($val) !important;
  }

  .lg-margin__bottom--#{$val} {
    margin-bottom: space($val) !important;
  }

  .lg-padding__bottom--#{$val} {
    padding-bottom: space($val) !important;
  }

  .lg-margin__left--#{$val} {
    margin-left: space($val) !important;
  }

  .lg-padding__left--#{$val} {
    padding-left: space($val) !important;
  }
}

html,
body {
  height: 100%;
}
