@use 'styles-classes';

@use 'typography-elements';

// Import design tokens
@import '@legal-and-general/canopy-design-tokens/css/variables.css';
@import '@legal-and-general/canopy-design-tokens/css/foundations.css';
@import '@legal-and-general/canopy-design-tokens/css/colour.css';
@import '@legal-and-general/canopy-design-tokens/css/component-themes.css';
@import '@legal-and-general/canopy-design-tokens/css/layout.css';
@import '@legal-and-general/canopy-design-tokens/css/typography.css';
