@import '../styles/mixins.scss';
$fonts-path: '../assets/fonts' !default;
$fonts-path-lyon: '/assets/fonts';

/*
  Lyon - font path is not transformed by the build, see USAGE.md for details
 */
@font-face {
  font-family: 'Lyon';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Lyon'), local('Lyon-Regular'),
    url('#{$fonts-path-lyon}/lyon/lyon-display-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('#{$fonts-path-lyon}/lyon/lyon-display-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Lyon';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Lyon'), local('Lyon-Regular'),
    url('#{$fonts-path-lyon}/lyon/lyon-display-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('#{$fonts-path-lyon}/lyon/lyon-display-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Lyon';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lyon Bold'), local('Lyon-Bold'),
    url('#{$fonts-path-lyon}/lyon/lyon-display-bold.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('#{$fonts-path-lyon}/lyon/lyon-display-bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Lyon';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Lyon Bold'), local('Lyon-Bold'),
    url('#{$fonts-path-lyon}/lyon/lyon-display-bold.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('#{$fonts-path-lyon}/lyon/lyon-display-bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*
  Roboto - Restricted to Latin character sets with support back to IE 9
 */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Roboto Thin'), local('Roboto-Thin'),
    url('#{$fonts-path}/roboto/roboto-latin-thin.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('#{$fonts-path}/roboto/roboto-latin-thin.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'),
    url('#{$fonts-path}/roboto/roboto-latin-light.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('#{$fonts-path}/roboto/roboto-latin-light.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'),
    url('#{$fonts-path}/roboto/roboto-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('#{$fonts-path}/roboto/roboto-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('#{$fonts-path}/roboto/roboto-latin-medium.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('#{$fonts-path}/roboto/roboto-latin-medium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html,
body,
input,
select {
  font-size: var(--text-base-size);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family);
  line-height: var(--text-base-line-height);
  color: var(--color-text);
}

p {
  font-size: var(--text-fs-1-size);
  margin-bottom: var(--text-bottom-margin);

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  @include lg-link;
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

.lg-font--expressive {
  font-family: var(--font-family-expressive);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  display: block;
  margin-bottom: var(--text-bottom-margin);
}

.lg-font-size-7 {
  @include lg-font-size('7');
}

.lg-font-size-7--strong {
  @include lg-font-size('7', 'strong');
}

.lg-font-size-6 {
  @include lg-font-size('6');
}

.lg-font-size-6--strong {
  @include lg-font-size('6', 'strong');
}

h1,
.lg-font-size-5 {
  @include lg-font-size('5');
}

.lg-font-size-5--strong {
  @include lg-font-size('5', 'strong');
}

h2,
.lg-font-size-4 {
  @include lg-font-size('4');
}

.lg-font-size-4--strong {
  @include lg-font-size('4', 'strong');
}

h3,
.lg-font-size-3 {
  @include lg-font-size('3');
}

.lg-font-size-3--strong {
  @include lg-font-size('3', 'strong');
}

h4,
.lg-font-size-2 {
  @include lg-font-size('2');
}

.lg-font-size-2--strong {
  @include lg-font-size('2', 'strong');
}

h5,
.lg-font-size-1 {
  @include lg-font-size('1');
}

.lg-font-size-1--strong {
  @include lg-font-size('1', 'strong');
}

h6,
.lg-font-size-0-8 {
  @include lg-font-size('-8');
}

small,
.lg-font-size-0-6 {
  @include lg-font-size('-6');
}

ul,
ol {
  margin-left: var(--space-unit);
  margin-bottom: var(--text-bottom-margin);
}
