$fonts-path: '../assets/fonts' !default;
$fonts-path-lyon: '/assets/fonts' !default;

/*
  Lyon - font path is not transformed by the build, see USAGE.md for details
 */
@font-face {
  font-family: 'Lyon';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Lyon'), local('Lyon-Regular'),
    url('#{$fonts-path-lyon}/lyon/lyon-display-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Lyon';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Lyon'), local('Lyon-Regular'),
    url('#{$fonts-path-lyon}/lyon/lyon-display-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Lyon';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lyon Bold'), local('Lyon-Bold'),
    url('#{$fonts-path-lyon}/lyon/lyon-display-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Lyon';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Lyon Bold'), local('Lyon-Bold'),
    url('#{$fonts-path-lyon}/lyon/lyon-display-bold.woff2') format('woff2');
}

/*
  Roboto - Restricted to Latin character sets with support back to IE 9
 */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Roboto Thin'), local('Roboto-Thin'),
    url('#{$fonts-path}/roboto/roboto-latin-thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'),
    url('#{$fonts-path}/roboto/roboto-latin-light.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'),
    url('#{$fonts-path}/roboto/roboto-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('#{$fonts-path}/roboto/roboto-latin-medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('#{$fonts-path}/roboto/roboto-latin-bold.woff2') format('woff2');
}
