$fonts-path-otto: '../assets/fonts/otto' !default;
$fonts-path-nunito-sans: '../assets/fonts/nunito-sans' !default;

/*
  Nunito Sans
 */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 300; // Light
  src: url('#{$fonts-path-nunito-sans}/nunito-sans-v19-latin-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400; // Regular
  src: url('#{$fonts-path-nunito-sans}/nunito-sans-v19-latin-regular.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 500; // Medium
  src: url('#{$fonts-path-nunito-sans}/nunito-sans-v19-latin-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700; // Bold
  src: url('#{$fonts-path-nunito-sans}/nunito-sans-v19-latin-700.woff2') format('woff2');
}

/*
  ABC Otto
 */
/* Medium weight of Otto is the bold variant as it's the 500 weight.
 700 weight is only used by Productive font Nunito Sans */
@font-face {
  font-family: 'ABC Otto';
  font-style: normal;
  font-display: swap;
  font-weight: 300; // Light
  src: url('#{$fonts-path-otto}/ABCOtto-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'ABC Otto';
  font-style: normal;
  font-display: swap;
  font-weight: 400; // Regular
  src: url('#{$fonts-path-otto}/ABCOtto-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'ABC Otto';
  font-style: normal;
  font-weight: 500; // Medium
  font-display: swap;
  src: url('#{$fonts-path-otto}/ABCOtto-Bold.woff2') format('woff2');
}
