$fonts-path-otto: '../assets/fonts/otto' !default;
$fonts-path-nunito-sans: '../assets/fonts/nunito-sans' !default;

/*
  Nunito Sans
 */
@font-face {
  font-family: 'Nunito Sans';
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
  src: url('#{$fonts-path-nunito-sans}/NunitoSans-VariableFont.ttf') format('truetype');
  font-variation-settings:
    'wdth' 100,
    'YTLC' 500;
}

/*
  ABC Otto
 */

/* Medium weight of Otto is the bold variant as it's the 500 weight.
 700 weight is only used by Productive font Nunito Sans */
@font-face {
  font-family: 'ABC Otto';
  font-style: normal;
  font-display: swap;
  font-weight: 300; // Light
  src: url('#{$fonts-path-otto}/ABCOtto-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'ABC Otto';
  font-style: normal;
  font-display: swap;
  font-weight: 400; // Regular
  src: url('#{$fonts-path-otto}/ABCOtto-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'ABC Otto';
  font-style: normal;
  font-weight: 500; // Medium
  font-display: swap;
  src: url('#{$fonts-path-otto}/ABCOtto-Bold.woff2') format('woff2');
}
