@use '../styles/mixins.scss';
@use 'sass:map';

// Base typography classes
.lg-body {
  @include mixins.lg-typography-default;
}

.lg-paragraph {
  @include mixins.lg-paragraph;
}

.lg-anchor {
  @include mixins.lg-link;
}

// Font weight classes
.lg-medium {
  font-weight: var(--font-weight-500);
}

.lg-bold,
.lg-strong {
  font-weight: var(--font-weight-700);
}

.lg-underline {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 6%;
  text-underline-offset: 13%;
}

.lg-list {
  @include mixins.lg-list-margin;
}

.lg-font--expressive {
  font-family: var(--font-family-expressive);
}

// Heading classes
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  display: block;
  margin-bottom: var(--text-bottom-margin);
}

// Font size variables
$font-sizes: ('9', '8', '7', '6', '5', '4', '3', '2', '1', '0-8', '0-6');
$font-weights: (
  '300': true,
  // Only for sizes 4 and above
  '400': true,
  // All sizes
  '500': true,
  // All sizes
  '700': true, // All sizes
);

// Generate font size classes using a loop
@each $size in $font-sizes {
  // Default weight class
  .lg-font-size-#{$size} {
    @include mixins.lg-font-size($size);
  }

  // Weight variations
  @each $weight, $enabled in $font-weights {
    // Apply conditional logic for weights that should only apply to certain sizes
    @if $enabled ==
      true and
      // Only generate 300 weight for sizes 4 and above
      (
        $weight !=
          '300' or
          (
            $weight ==
              '300' and
              $size !=
              '3' and
              $size !=
              '2' and
              $size !=
              '1' and
              $size !=
              '0-8' and
              $size !=
              '0-6'
          )
      )
    {
      .lg-font-size-#{$size}--#{$weight} {
        @include mixins.lg-font-size($size, $weight);
      }
    }
  }
}
