$fonts-path: '../assets/fonts' !default;

@font-face {
  font-family: 'Roboto';
  src: url('#{$fonts-path}/roboto/Roboto-Regular-webfont.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('#{$fonts-path}/roboto/Roboto-Medium-webfont.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('#{$fonts-path}/roboto/Roboto-Light-webfont.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('#{$fonts-path}/roboto/Roboto-Thin-webfont.woff') format('woff');
  font-weight: 100;
}

html,
body,
input,
select {
  font-size: var(--text-base-size);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family);
  line-height: var(--text-base-line-height);
  color: var(--color-text);
}

p {
  font-size: var(--text-fs-1-size);
  margin-bottom: var(--text-bottom-margin);

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: var(--link-color);

  &:visited {
    color: var(--link-visited-color);
  }

  &:hover {
    color: var(--link-hover-color);
  }

  &:focus {
    background: var(--link-focus-background-color);
    color: var(--link-focus-color);
    outline: var(--link-focus-outline) solid var(--link-focus-background-color);
  }
}

small {
  font-size: var(--text-sm);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-bottom: var(--text-bottom-margin);
}

.lg-font-size-7 {
  display: block;
  font-size: var(--text-fs-7-size);
  line-height: var(--text-fs-7-line-height);
  font-weight: var(--text-fs-7-weight);
}

.lg-font-size-6 {
  display: block;
  font-size: var(--text-fs-6-size);
  line-height: var(--text-fs-6-line-height);
  font-weight: var(--text-fs-6-weight);
}

h1,
.lg-font-size-5 {
  font-size: var(--text-fs-5-size);
  line-height: var(--text-fs-5-line-height);
  font-weight: var(--text-fs-5-weight);
}

h2,
.lg-font-size-4 {
  font-size: var(--text-fs-4-size);
  line-height: var(--text-fs-4-line-height);
  font-weight: var(--text-fs-4-weight);
}

h3,
.lg-font-size-3 {
  font-size: var(--text-fs-3-size);
  line-height: var(--text-fs-3-line-height);
  font-weight: var(--text-fs-3-weight);
}

h4,
.lg-font-size-2 {
  font-size: var(--text-fs-2-size);
  line-height: var(--text-fs-2-line-height);
  font-weight: var(--text-fs-2-weight);
}

h5,
.lg-font-size-1 {
  font-size: var(--text-fs-1-size);
  line-height: var(--text-fs-1-line-height);
  font-weight: var(--text-fs-1-weight);
}

h6,
.lg-font-size-0-8 {
  font-size: var(--text-fs--8-size);
  line-height: var(--text-fs--8-line-height);
  font-weight: var(--text-fs--8-weight);
}

.lg-font-size-0-6 {
  font-size: var(--text-fs--6-size);
  line-height: var(--text-fs--6-line-height);
  font-weight: var(--text-fs--6-weight);
}
