$fonts-path: '../assets/fonts' !default;

:root {
  --font-family: 'Roboto', arial, Sans-Serif;
  --color-text: #4c4c4c;

  /* set base values */
  --text-base-size: 1em;
  --text-scale-ratio: 0.25em;

  /* type scale */
  --text-xs: calc(1em - var(--text-scale-ratio));
  --text-sm: calc(1em - (var(--text-scale-ratio) / 2));
  --text-md: var(--text-base-size);
  --text-lg: calc(var(--text-base-size) + var(--text-scale-ratio));
  --text-xl: calc(var(--text-base-size) + (2 * var(--text-scale-ratio)));
  --text-xxl: calc(var(--text-base-size) + (4 * var(--text-scale-ratio)));
  --text-xxxl: calc(var(--text-base-size) + (6 * var(--text-scale-ratio)));

  /* font weight */
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 500;

  /* line-height */
  --line-height-heading: 1.2;
  --line-height-sm: 1.25;
  --line-height-body: 1.5;
}

@font-face {
  font-family: 'Roboto';
  src: url('#{$fonts-path}/roboto/Roboto-Regular-webfont.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('#{$fonts-path}/roboto/Roboto-Medium-webfont.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('#{$fonts-path}/roboto/Roboto-Light-webfont.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('#{$fonts-path}/roboto/Roboto-Thin-webfont.woff') format('woff');
  font-weight: 100;
}

body,
input,
select {
  font-size: var(--text-base-size);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family);
  line-height: var(--line-height-body);
  color: var(--color-text);
}

/* text size */
.text--xxxl {
  font-size: var(--text-xxxl);
}

.text--xxl {
  font-size: var(--text-xxl);
}

.text--xl {
  font-size: var(--text-xl);
}

.text-lg {
  font-size: var(--text-lg);
}

.text-md {
  font-size: var(--text-md);
}

.text-sm {
  font-size: var(--text-sm);
}

.text-xs {
  font-size: var(--text-xs);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: var(--space-xxs);
}

h1,
.h1 {
  font-size: var(--text-xxxl);
  font-weight: var(--font-weight-light);
  line-height: 1.2;
}

h2,
.h2 {
  font-size: var(--text-xxl);
  font-weight: var(--font-weight-light);
  line-height: 1.4;
}

h3,
.h3 {
  font-size: var(--text-xl);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
}

h4,
.h4 {
  font-size: var(--text-lg);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
}

h5,
.h5 {
  font-size: var(--text-md);
  font-weight: var(--font-weight-bold);
  line-height: 1.25;
}

h6,
.h6 {
  font-size: var(--text-sm);
  font-weight: var(--font-weight-bold);
  line-height: 1.25;
}

p {
  line-height: var(--line-height-body);
  margin-bottom: var(--space-md);
}

a {
  color: var(--link-color);

  &:visited {
    color: var(--link-visited-color);
  }
}

.standfirst {
  font-weight: var(--font-weight-light);
  font-size: var(--text-lg);
}

.legal {
  font-size: var(--text-xs);
  line-height: var(--line-height-sm);
}

small {
  font-size: var(--text-sm);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}
