:root {
  --btn-reverse-primary-bg-color: var(--color-white);
  --btn-reverse-primary-border-color: var(--color-white);
  --btn-reverse-primary-color: var(--color-super-blue);
  --btn-reverse-primary-active-bg-color: var(--color-super-blue-darkest);
  --btn-reverse-primary-active-border-color: var(--color-super-blue-darkest);
  --btn-reverse-primary-active-color: var(--color-white);
  --btn-reverse-primary-hover-bg-color: var(--color-super-blue-dark);
  --btn-reverse-primary-hover-border-color: var(--color-super-blue-dark);
  --btn-reverse-primary-hover-color: var(--color-white);

  --btn-reverse-secondary-bg-color: var(--color-white);
  --btn-reverse-secondary-border-color: var(--color-white);
  --btn-reverse-secondary-color: var(--color-leafy-green);
  --btn-reverse-secondary-active-bg-color: var(--color-leafy-green-darkest);
  --btn-reverse-secondary-active-border-color: var(--color-leafy-green-darkest);
  --btn-reverse-secondary-active-color: var(--color-white);
  --btn-reverse-secondary-hover-bg-color: var(--color-leafy-green-dark);
  --btn-reverse-secondary-hover-border-color: var(--color-leafy-green-dark);
  --btn-reverse-secondary-hover-color: var(--color-white);
}
