:root {
  --btn-secondary-dark-bg-color: inherit;
  --btn-secondary-dark-border-color: var(--colour-greyscale-900);
  --btn-secondary-dark-color: var(--colour-greyscale-900);
  --btn-secondary-dark-hover-bg-color: var(--colour-greyscale-200);
  --btn-secondary-dark-hover-border-color: var(--colour-greyscale-900);
  --btn-secondary-dark-hover-color: var(--colour-greyscale-900);
  --btn-secondary-dark-active-bg-color: var(--colour-greyscale-900);
  --btn-secondary-dark-active-border-color: var(--colour-greyscale-900);
  --btn-secondary-dark-active-color: var(--colour-greyscale-0);

  --btn-secondary-light-bg-color: inherit;
  --btn-secondary-light-border-color: var(--colour-greyscale-0);
  --btn-secondary-light-color: var(--colour-greyscale-0);
  --btn-secondary-light-hover-bg-color: rgba(0, 0, 0, 0.33);
  --btn-secondary-light-hover-border-color: var(--colour-greyscale-0);
  --btn-secondary-light-hover-color: var(--colour-greyscale-0);
  --btn-secondary-light-active-bg-color: rgba(0, 0, 0, 0.66);
  --btn-secondary-light-active-border-color: var(--colour-greyscale-0);
  --btn-secondary-light-active-color: var(--colour-greyscale-0);
}
