:root {
  --btn-primary-dark-bg-color: var(--colour-blue-600);
  --btn-primary-dark-border-color: var(--colour-blue-600);
  --btn-primary-dark-color: var(--colour-greyscale-0);
  --btn-primary-dark-hover-bg-color: var(--colour-blue-700);
  --btn-primary-dark-hover-border-color: var(--colour-blue-700);
  --btn-primary-dark-hover-color: var(--colour-greyscale-0);
  --btn-primary-dark-active-bg-color: var(--colour-blue-900);
  --btn-primary-dark-active-border-color: var(--colour-blue-900);
  --btn-primary-dark-active-color: var(--colour-greyscale-0);

  --btn-primary-light-bg-color: var(--colour-greyscale-0);
  --btn-primary-light-border-color: var(--colour-greyscale-0);
  --btn-primary-light-color: var(--colour-greyscale-900);
  --btn-primary-light-hover-bg-color: rgba(0, 0, 0, 0.33);
  --btn-primary-light-hover-border-color: var(--colour-greyscale-0);
  --btn-primary-light-hover-color: var(--colour-greyscale-0);
  --btn-primary-light-active-bg-color: rgba(0, 0, 0, 0.66);
  --btn-primary-light-active-border-color: var(--colour-greyscale-0);
  --btn-primary-light-active-color: var(--colour-greyscale-0);
}
