:root {
  --btn-border-radius: var(--border-radius-sm);

  --btn-disabled-bg-color: var(--disabled-color);
  --btn-disabled-border-color: var(--disabled-color);
  --btn-disabled-color: var(--color-taupe-grey);

  --btn-min-width: 6rem;
}
