:root {
  --btn-outline-primary-bg-color: var(--color-white);
  --btn-outline-primary-border-color: var(--color-charcoal);
  --btn-outline-primary-color: var(--color-charcoal);
  --btn-outline-primary-active-bg-color: var(--color-charcoal);
  --btn-outline-primary-active-border-color: var(--color-charcoal);
  --btn-outline-primary-active-color: var(--color-white);
  --btn-outline-primary-hover-bg-color: var(--color-taupe-grey);
  --btn-outline-primary-hover-border-color: var(--color-taupe-grey);
  --btn-outline-primary-hover-color: var(--color-white);

  --btn-outline-secondary-bg-color: var(--color-charcoal);
  --btn-outline-secondary-border-color: var(--color-white);
  --btn-outline-secondary-color: var(--color-white);
  --btn-outline-secondary-active-bg-color: var(--color-white);
  --btn-outline-secondary-active-border-color: var(--color-white);
  --btn-outline-secondary-active-color: var(--color-charcoal);
  --btn-outline-secondary-hover-bg-color: var(--color-white-smoke);
  --btn-outline-secondary-hover-border-color: var(--color-white-smoke);
  --btn-outline-secondary-hover-color: var(--color-charcoal);
}
