:root {
  --btn-border-radius: var(--border-radius-sm);

  --btn-disabled-bg-color: var(--colour-greyscale-200);
  --btn-disabled-border-color: var(--colour-greyscale-200);
  --btn-disabled-color: var(--colour-greyscale-600);

  --btn-vertical-padding: var(--form-field-vertical-padding); // 9px
  --btn-horizontal-padding: 1.1875rem; // 19px
  --btn-vertical-padding--sm: calc(var(--space-1) - var(--border-width));
  --btn-horizontal-padding--sm: var(--btn-horizontal-padding);

  --btn-icon-text-padding: 0.625rem; // 10px
  --btn-icon-edge-padding: 0.125rem; // 2px
  --btn-icon-only-padding: 0.5625rem; // 9px
  --btn-icon-only-padding--sm: var(--btn-vertical-padding--sm);

  --btn-line-height: 1.5;
  --btn-min-width: 6rem;
}
