:root {
  --btn-solid-primary-bg-color: var(--color-super-blue);
  --btn-solid-primary-border-color: var(--color-super-blue);
  --btn-solid-primary-color: var(--color-white);
  --btn-solid-primary-active-bg-color: var(--color-super-blue-darkest);
  --btn-solid-primary-active-border-color: var(--color-super-blue-darkest);
  --btn-solid-primary-active-color: var(--color-white);
  --btn-solid-primary-hover-color: var(--color-white);
  --btn-solid-primary-hover-bg-color: var(--color-super-blue-dark);
  --btn-solid-primary-hover-border-color: var(--color-super-blue-dark);
}
