:root {
  --btn-add-on-bg-color: transparent;
  --btn-add-on-border-color: transparent;
  --btn-add-on-color: var(--border-color);
  --btn-add-on-active-bg-color: transparent;
  --btn-add-on-active-border-color: transparent;
  --btn-add-on-active-color: var(--border-hover-color);
  --btn-add-on-hover-bg-color: transparent;
  --btn-add-on-hover-border-color: transparent;
  --btn-add-on-hover-color: var(--border-hover-color);
}
