:root {
  --banner-generic-bg-color: var(--colour-greyscale-700);
  --banner-generic-color: var(--colour-greyscale-0);

  --banner-warning-bg-color: var(--colour-yellow-600);
  --banner-warning-color: var(--colour-greyscale-900);
}
