:root {
  --banner-generic-bg-color: var(--color-battleship-grey);
  --banner-generic-color: var(--color-white);

  --banner-warning-bg-color: var(--color-dandelion-yellow);
  --banner-warning-color: var(--color-charcoal);
}
