:root {
  --card-bg-color: var(--color-white);
  --card-title-color: var(--color-battleship-grey);
  --card-title-border-color: var(--color-platinum);
  --card-subtitle-color: var(--color-battleship-grey);
  --card-principle-data-point-label-color: var(--color-battleship-grey);
  --card-principle-data-point-date-color: var(--color-charcoal);
  --card-principle-data-point-value-color: var(--color-charcoal);
}
