:root {
  --card-bg-color: var(--color-white);
  --card-title-color: var(--color-battleship-grey);
  --card-title-border-color: var(--color-platinum);
  --card-subtitle-color: var(--color-battleship-grey);
  --card-principle-data-point-label-color: var(--color-battleship-grey);
  --card-principle-data-point-date-color: var(--color-charcoal);
  --card-principle-data-point-value-color: var(--color-charcoal);
  --card-header-margin-bottom: var(--space-lg);
  --card-navigation-link-padding-bottom: 1.25rem;
  --card-navigation-link-padding-top: var(--space-sm);
  --card-navigation-link-padding-top-md: var(--space-md);
}
