:root {
  --card-bg-color: var(--colour-greyscale-0);
  --card-title-color: var(--colour-greyscale-700);
  --card-title-border-color: var(--colour-greyscale-200);
  --card-subtitle-color: var(--colour-greyscale-700);
  --card-principle-data-point-label-color: var(--colour-greyscale-700);
  --card-principle-data-point-date-color: var(--colour-greyscale-900);
  --card-principle-data-point-value-color: var(--colour-greyscale-900);
  --card-header-margin-bottom: var(--space-6);
  --card-navigation-link-padding-bottom: 1.25rem;
  --card-navigation-link-padding-top: var(--space-4);
  --card-navigation-link-padding-top-md: var(--space-5);
  --card-hero-image-width: 13.75rem; // 220px
  --card-hero-image-height: 10.25rem; // 164px
}
