:root {
  --toggle-switch-off-bg-color: var(--color-white-smoke);
  --toggle-switch-off-dot-bg-color: var(--color-super-blue);

  --toggle-switch-on-bg-color: var(--color-super-blue);
  --toggle-switch-on-dot-bg-color: var(--color-white);
  --toggle-switch-on-border-color: var(--color-super-blue);

  --toggle-switch-disabled-bg-color: var(--color-white);
  --toggle-switch-disabled-dot-bg-color: var(--disabled-color);
  --toggle-switch-disabled-border-color: var(--disabled-color);
  --toggle-switch-disabled-color: var(--color-platinum);
}
