:root {
  --filter-btn-bg-color-hover: var(--colour-greyscale-600);
  --filter-btn-bg-color-active: var(--colour-greyscale-900);
  --filter-btn-bg-color-disabled: var(--colour-greyscale-200);
  --filter-btn-bg-color-selected: var(--colour-green-600);
  --filter-btn-bg-color-selected-hover: var(--colour-green-800);
  --filter-btn-bg-color-selected-active: var(--colour-green-900);

  --filter-btn-text-color-selected: var(--colour-greyscale-0);
  --filter-btn-text-color-disabled: var(--colour-greyscale-600);

  --filter-btn-line-height: 1.6;
}
