:root {
  --footer-logo-width: 4.5rem;
  --footer-logo-width-lg: 7.25rem;
  --footer-second-logo-width: 4.5rem;
  --footer-second-logo-width-lg: 7.25rem;
  --footer-bg-color: var(--color-white);
  --footer-text-color: var(--color-charcoal);
}
