:root {
  --header-bg-color: var(--colour-greyscale-0);
  --header-height: 5.5rem;
  --header-height-lg: 5.5rem;
  --header-logo-width: 4rem;
  --header-logo-width-lg: 4rem;
  --header-shadow-height: 0.25rem;
  --header-shadow: 0 var(--header-shadow-height) 0 rgba(0, 0, 0, 0.03);

  --overlay-bg-color: rgba(0, 0, 0, 0.4);

  --nav-item-border-radius: 0.25rem;
  --nav-item-icon-height: 1.5rem;

  --nav-item-color: var(--color-text);
  --nav-item-color-hover: var(--color-text);
  --nav-item-color-active: var(--colour-blue-600);
  --nav-item-color-expanded: var(--colour-greyscale-0);

  --nav-item-bg-color: var(--colour-greyscale-0);
  --nav-item-bg-color-hover: var(--colour-greyscale-0);
  --nav-item-bg-color-active: var(--colour-greyscale-0);
  --nav-item-bg-color-expanded: var(--colour-blue-600);

  --nav-item-border-color: var(--colour-greyscale-0);
  --nav-item-border-color-hover: var(--colour-blue-600);
  --nav-item-border-color-active: var(--colour-blue-600);
  --nav-item-border-color-expanded: var(--colour-blue-600);

  --nav-item-border-width: 0;
  --nav-item-border-width-hover: 0.125rem;
  --nav-item-border-width-active: 0.25rem;
  --nav-item-border-width-expanded: 0.25rem;

  --notification-badge-color: var(--colour-greyscale-0);
  --notification-badge-bg-color: var(--colour-red-600);
  --notification-badge-width: 1.5rem;
  --notification-badge-height: 1.5rem;

  --primary-nav-item-color: var(--color-text);
  --primary-nav-item-color-hover: var(--colour-blue-600);
  --primary-nav-item-color-hover-lg: var(--color-text);
  --primary-nav-item-color-active: var(--colour-blue-900);
  --primary-nav-item-color-active-lg: var(--colour-blue-600);

  --primary-nav-item-border-color: var(--colour-greyscale-0);
  --primary-nav-item-border-color-hover: var(--colour-blue-600);
  --primary-nav-item-border-color-active: var(--colour-blue-900);
}
