:root {
  --hero-padding: var(--space-sm);
  --hero-color: var(--colour-greyscale-0);
  --hero-bg-color: var(--colour-blue-700);
  --hero-rule-color: rgba(255, 255, 255, 0.2);
  --hero-bg-alpha: 0.1;
  --hero-overlay-bg-color: rgba(0, 0, 0, var(--hero-bg-alpha));

  --hero-link-color: var(--hero-color);
  --hero-link-hover-color: var(--hero-color);
  --hero-link-visited-color: var(--hero-color);
  --hero-link-active-color: var(--hero-color);
  --hero-link-active-bg-color: var(--colour-blue-900);
  --hero-link-focus-color: var(--colour-blue-900);
  --hero-link-focus-bg-color: var(--colour-greyscale-0);
}
