:root {
  --hero-padding: var(--space-sm);
  --hero-color: var(--color-white);
  --hero-bg-image: var(--gradient-super-blue); /* deprecated */
  --hero-bg-color: var(--color-super-blue-dark);
  --hero-overlay-bg-color: var(--color-black);
  --hero-rule-color: rgba(255, 255, 255, 0.2);
  --hero-bg-alpha: 0.1;
}
