:root {
  --link-menu-link-border-width-md: 0.1875rem; // 3px
  --link-menu-link-border-width-lg: 0.3125rem; // 5px
  --link-menu-link-color: var(--colour-greyscale-900);
  --link-menu-link-active-color: var(--colour-blue-800);
  --link-menu-link-hover-color: var(--link-color);
  --link-menu-link-border-color: var(--colour-greyscale-200);
}
