:root {
  --link-menu-link-border-width-md: 0.1875rem; // 3px
  --link-menu-link-border-width-lg: 0.3125rem; // 5px
  --link-menu-link-color: var(--color-charcoal);
  --link-menu-link-active-color: var(--color-midnight-blue);
  --link-menu-link-hover-color: var(--link-color);
  --link-menu-link-border-color: var(--color-platinum);
}
