:root {
  --more-less-box-color: var(--color-charcoal);
  --more-less-box-bg-color: var(--color-white);
  --more-less-box-border-color: var(--color-platinum);
  --more-less-box-unread-indicator-color: var(--color-charcoal);
  --more-less-box-read-indicator-color: var(--color-leafy-green);
}
