:root {
  --pagination-button-hover-bg-color: var(--color-charcoal);
  --pagination-button-hover-color: var(--color-white);
  --pagination-button-active-bg-color: var(--color-super-blue);
  --pagination-button-active-color: var(--color-white);
  --pagination-button-prevnext-hover-border-color: var(--color-black);
  --pagination-button-prevnext-hover-color: var(--color-black);
}
