:root {
  --pagination-button-hover-bg-color: var(--colour-greyscale-900);
  --pagination-button-hover-color: var(--colour-greyscale-0);
  --pagination-button-active-bg-color: var(--colour-blue-600);
  --pagination-button-active-color: var(--colour-greyscale-0);
  --pagination-button-prevnext-hover-border-color: var(--colour-greyscale-1000);
  --pagination-button-prevnext-hover-color: var(--colour-greyscale-1000);
}
