:root {
  --quick-action-bg-color: var(--colour-greyscale-0);
  --quick-action-hover-bg-color: var(--colour-blue-600);
  --quick-action-hover-color: var(--colour-greyscale-0);
  --quick-action-active-bg-color: var(--colour-blue-700);
  --quick-action-active-color: var(--colour-greyscale-0);
  --quick-action-visited-color: var(--link-primary-rest-colour);
  --quick-action-visited-hover-bg-color: var(--colour-blue-700);
  --quick-action-visited-hover-color: var(--colour-greyscale-0);
}
