:root {
  --quick-action-bg-color: var(--color-white);
  --quick-action-hover-bg-color: var(--color-super-blue);
  --quick-action-hover-color: var(--color-white);
  --quick-action-active-bg-color: var(--color-super-blue-dark);
  --quick-action-active-color: var(--color-white);
  --quick-action-visited-color: var(--link-color);
  --quick-action-visited-hover-bg-color: var(--color-super-blue-dark);
  --quick-action-visited-hover-color: var(--color-white);
}
