:root {
  --radio-bg-color: var(--colour-blue-600);
  --radio-color: var(--colour-greyscale-0);
  --radio-border-color: var(--border-color);
  --radio-disabled-color: var(--colour-greyscale-600);

  --radio-outer-height: 1rem;
  --radio-outer-width: var(--radio-outer-height);
  --radio-inner-height: calc(var(--radio-outer-height) / 2);
  --radio-inner-width: var(--radio-inner-height);
  --radio-outer-lg-height: 1.5rem;
  --radio-outer-lg-width: var(--radio-outer-lg-height);
  --radio-inner-lg-height: calc(var(--radio-outer-lg-height) / 2);
  --radio-inner-lg-width: var(--radio-inner-lg-height);

  --radio-segment-separator-border-width: var(--border-width);
  --radio-segment-separator-border-color: var(--colour-greyscale-200);
  --radio-segment-label-min-width: calc(6 * var(--space-4));
  --radio-segment-hover-bg-color: var(--colour-blue-700);
}
