:root {
  --side-nav-bar-link-border-width-md: 0.1875rem; // 3px
  --side-nav-bar-link-border-width-lg: 0.3125rem; // 5px
  --side-nav-bar-link-color: var(--colour-greyscale-900);
  --side-nav-bar-link-hover-color: var(--colour-blue-800);
  --side-nav-bar-link-active-color: var(--colour-blue-600);
  --side-nav-bar-link-border-color: var(--colour-greyscale-200);
}
