:root {
  --side-nav-bar-item-border-width-md: 0.1875rem; // 3px
  --side-nav-bar-item-border-width-lg: 0.3125rem; // 5px
  --side-nav-bar-hover-color: var(--color-midnight-blue);
  --side-nav-bar-active-color: var(--color-super-blue);
}
