:root {
  --spinner-border-width: 0.1875rem; //3px
  --spinner-diameter: var(--space-6);
  --spinner-diameter--sm: var(--space-5);
  --spinner-diameter--xs: var(--space-4);
  --spinner-rotation-speed: 800ms;

  --spinner-ring-top-color: var(--colour-red-600);
  --spinner-ring-bottom-color: var(--colour-blue-600);
  --spinner-ring-left-color: var(--colour-yellow-600);
  --spinner-ring-right-color: var(--colour-green-600);

  --spinner-dark-color: var(--colour-greyscale-900);
  --spinner-light-color: var(--colour-greyscale-100);
}
