:root {
  --spinner-border-width: 0.1875rem; //3px
  --spinner-diameter: var(--space-lg);
  --spinner-diameter--sm: var(--space-md);
  --spinner-rotation-speed: 800ms;

  --spinner-ring-top-color: var(--color-poppy-red);
  --spinner-ring-bottom-color: var(--color-super-blue);
  --spinner-ring-left-color: var(--color-dandelion-yellow);
  --spinner-ring-right-color: var(--color-leafy-green);

  --spinner-dark-color: var(--color-charcoal);
  --spinner-light-color: var(--color-white-smoke);
}
