:root {
  --table-stripe-color: var(--colour-greyscale-100);
  --table-header-border-width: 0.125rem;
  --table-header-border-color: var(--colour-greyscale-900);
  --table-row-border-color: var(--colour-greyscale-200);
  --table-toggle-width: var(--space-8);
}
