:root {
  --tabs-border-bottom-width: var(--border-width);
  --tabs-border-bottom-color: var(--color-platinum);

  --tabs-list-item-line-height: var(--space-xxl);
  --tabs-list-item-lg-line-height: 3.25rem; // 52px;
  --tabs-list-item-color: var(--color-charcoal);
  --tabs-list-item-font-weight: var(--font-weight-regular);

  --tabs-hover-border-width: 0.3125rem; // 5px;
  --tabs-hover-color: var(--color-super-blue-dark);

  --tabs-active-border-color: var(--color-super-blue);
  --tabs-active-color: var(--color-super-blue);
  --tabs-active-font-weight: var(--font-weight-medium);
  --tabs-active-border-width: var(--keyline-width);
}
