:root {
  --toggle-bg-color: var(--color-super-blue);
  --toggle-border-color: var(--border-color);
  --toggle-disabled-color: var(--color-taupe-grey);

  --toggle-checkbox-color: var(--color-white);
  --toggle-checkbox-active-border-color: var(--color-super-blue);

  --toggle-inner-height: 0.5rem;
  --toggle-inner-width: var(--toggle-inner-height);
  --toggle-outer-height: 1rem;
  --toggle-outer-width: var(--toggle-outer-height);

  --toggle-switch-height: var(--space-md);
  --toggle-switch-width: calc(var(--toggle-switch-height) * 1.85);
  --toggle-switch-dot-offset: var(--space-xxxs);

  --toggle-switch-off-bg-color: var(--color-white-smoke);
  --toggle-switch-off-dot-bg-color: var(--color-super-blue);

  --toggle-switch-on-bg-color: var(--color-super-blue);
  --toggle-switch-on-dot-bg-color: var(--color-white);
  --toggle-switch-on-border-color: var(--color-super-blue);

  --toggle-switch-disabled-bg-color: var(--color-white);
  --toggle-switch-disabled-dot-bg-color: var(--disabled-color);
  --toggle-switch-disabled-border-color: var(--disabled-color);
  --toggle-switch-disabled-color: var(--color-platinum);
}
