name: Deploy branch to gh-pages
on:
  workflow_dispatch:
    inputs:
      pullNumber:
        description: 'The PR number'
        required: true

jobs:
  # Deploys selected branch to GitHub Pages
  deploy-branch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3.1.1
        with:
          node-version-file: '.nvmrc'

      - name: 'Install dependencies'
        run: npm ci

      - name: 'Save PR data'
        uses: actions/github-script@v6
        id: prData
        with:
          script: |
            const getData = require('./.github/workflow-scripts/gh-pages/get-pr-data.js');
            return await getData({
              pullNumber: '${{ github.event.inputs.pullNumber }}',
              github,
              context
            });

      - name: 'Download artifacts from PR'
        uses: actions/github-script@v6
        with:
          script: |
            const downloadArtifact = require('./.github/workflow-scripts/gh-pages/download-branch-deploy-artifact.js');
            await downloadArtifact({
              branch: '${{ fromJSON(steps.prData.outputs.result).branch }}',
              sha: '${{ fromJSON(steps.prData.outputs.result).sha }}',
              github,
              context
            });

      - run: |
          unzip sb-build.zip -d ./docs/sb-'${{ fromJSON(steps.prData.outputs.result).branch }}'
          rm sb-build.zip

      - name: 'Branch deployment to GitHub Pages'
        uses: actions/github-script@v6
        with:
          script: |
            const deployBranch = require('./.github/workflow-scripts/gh-pages/deploy.js');
            return await deployBranch({
              branch: '${{ fromJSON(steps.prData.outputs.result).branch }}',
              sha: '${{ fromJSON(steps.prData.outputs.result).sha }}',
              pullNumber: ${{ fromJSON(steps.prData.outputs.result).pullNumber }},
              github,
              context,
              exec,
            });

      - name: 'Update PR with branch url comment'
        if: success()
        uses: actions/github-script@v6
        with:
          script: |
            const addComment = require('./.github/workflow-scripts/gh-pages/add-branch-deployed-comment.js');
            const l = await addComment({
              branch: '${{ fromJSON(steps.prData.outputs.result).branch }}',
              pullNumber: ${{ fromJSON(steps.prData.outputs.result).pullNumber }},
              github,
              context,
            });
            console.log('labels', l);

      - name: 'Add label to PR'
        if: success()
        uses: actions/github-script@v6
        with:
          script: |
            const addLabels = require('./.github/workflow-scripts/add-labels.js');
            return await addLabels({
              issueNumber: ${{ fromJSON(steps.prData.outputs.result).pullNumber }},
              labels: [ 'deployed' ],
              github,
              context
            });
