name: Push to master

on:
  push:
    branches:
      - master
      - next
      - legacy
    tags-ignore:
      - '*'

permissions:
  contents: write
  packages: write
  deployments: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: 'Setup node'
        uses: actions/setup-node@v6.1.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: 'Install dependencies'
        run: npm ci

      - name: 'Build library'
        run: npm run build

      - name: 'Upload dist folder'
        uses: actions/upload-artifact@v6.0.0
        with:
          name: ${{ github.event.repository.name }}
          path: dist/canopy/
          overwrite: true

  release:
    needs: [ build ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: 'Setup node'
        uses: actions/setup-node@v6.1.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: 'Install dependencies'
        run: npm ci

      - name: 'Download dist folder'
        uses: actions/download-artifact@v7
        with:
          name: ${{ github.event.repository.name }}
          path: dist/canopy/

      - name: 'Zip library'
        run: zip -r dist/canopy.zip dist/canopy

      - name: 'Release'
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  deploy:
    needs: [ build ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: 'Setup node'
        uses: actions/setup-node@v6.1.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: 'Install dependencies'
        run: npm ci

      - name: 'Download dist folder'
        uses: actions/download-artifact@v7
        with:
          name: ${{ github.event.repository.name }}
          path: dist/canopy/

      - name: 'Build icons'
        run: npm run build:icons

      - name: 'Set Storybook output directory'
        run: echo "SB_OUTPUT_DIR=${{ github.ref_name == 'master' && './lg-sb-build' || format('./docs/lg-sb-{0}', github.ref_name) }}" >> $GITHUB_ENV

      - name: 'Build storybook'
        run: npm run build:storybook -- --output-dir $SB_OUTPUT_DIR

      - name: 'Update visual baselines'
        if: github.ref_name == 'master'
        run: npx percy storybook $SB_OUTPUT_DIR --config=.percy.yml
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
          PERCY_BRANCH: '${{ github.ref_name }}'
          PERCY_STORYBOOK_DOC_CAPTURE: true
          NETWORK_IDLE_WAIT_TIMEOUT: 5000

      - name: 'Deployment to GitHub Pages'
        uses: actions/github-script@v8
        with:
          script: |
            const deployBranch = require('./.github/workflow-scripts/gh-pages/deploy.cjs');
            await deployBranch({
              branch: '${{ github.ref_name }}',
              sha: '${{ github.sha }}',
              github,
              context,
              exec,
              core
            });
