name: Deploy to gh-pages

on:
  push:
    branches:
      - workflow-test
    tags-ignore:
      - '*'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3.1.1
        with:
          node-version-file: '.nvmrc'

      - name: 'Install dependencies'
        run: npm ci

      - name: 'Deployment to GitHub Pages'
        uses: actions/github-script@v6
        with:
          script: |
            const deployBranch = require('./.github/workflow-scripts/gh-pages/deploy.js');
            return await deployBranch({
              branch: 'master',
              sha: '${{ github.sha }}',
              github,
              context,
              exec,
              core
            });
