# Note that changing the name of this workflow will affect the
# code in gh-pages/download-branch-deploy-artifact.js
name: Pull request

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  verify:
    if: ${{ !startsWith(github.head_ref, 'dependabot/')  }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: 'Setup node'
        uses: actions/setup-node@v3.7.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: 'Install dependencies'
        run: npm ci

      - name: 'Lint commit'
        if: ${{ !contains(github.head_ref, 'batched-dependabot-updates') }}
        run: npx commitlint --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose

      - name: 'Eslint'
        run: npm run eslint

      - name: 'Stylelint'
        run: npm run stylelint

      - name: 'Unit test'
        run: npm run test:ci

      - name: 'Build'
        run: npm run build

      - name: 'Install build dependencies'
        run: npm --prefix ./dist/canopy install

      - name: 'License check build dependencies'
        run: npm run license-check:build

      - name: 'Build test app'
        run: npm run build:test-app

      - name: 'Build storybook'
        run: npm run build:storybook -- --output-dir ./lg-sb-build
      - uses: actions/upload-artifact@v3.1.3
        with:
          name: lg-sb-build
          path: ./lg-sb-build
