# Note that changing the name of this workflow will affect the
# code in gh-pages/download-branch-deploy-artifact.cjs
name: Pull request

on:
  pull_request:
    types: [opened, synchronize]

permissions:
  contents: read
  actions: read
  packages: read

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: 'Setup node'
        uses: actions/setup-node@v6.1.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: 'Install dependencies'
        run: |
          echo "//npm.pkg.github.com/:_authToken=${{secrets.GITHUB_TOKEN}}" >> ~/.npmrc
          npm ci

      - name: 'Lint commit'
        if: ${{ !startsWith(github.head_ref, 'dependabot-')  }}
        run: npx commitlint --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose

      - name: 'Eslint'
        run: npm run eslint

      - name: 'Stylelint'
        run: npm run stylelint

      - name: 'Build'
        run: npm run build

      - name: 'Unit tests'
        run: npm run test:ci

      - name: 'Install build dependencies'
        run: npm --prefix ./dist/canopy install

      - name: 'License check build dependencies'
        run: npm run license-check:build

      - name: 'Build test app'
        run: npm run build:test-app

      - name: 'Build storybook'
        run: npm run build:storybook -- --output-dir ./lg-sb-build

      - name: 'Upload storybook build'
        uses: actions/upload-artifact@v6.0.0
        with:
          name: lg-sb-build
          path: ./lg-sb-build
          overwrite: true
