# Note that changing the name of this workflow will affect the
# code in gh-pages/download-branch-deploy-artifact.js
name: Pull request

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  verify:
    if: ${{ !startsWith(github.head_ref, 'dependabot/')  }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: setup node
        uses: actions/setup-node@v3.3.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - name: install dependencies
        run: npm ci
      - name: eslint
        run: npm run eslint
      - name: stylelint
        run: npm run stylelint
      - name: test
        run: npm run test:ci
      - name: build
        run: npm run build
      - name: install build dependencies
        run: npm --prefix ./dist/canopy install
      - name: license check build dependencies
        run: npm run license-check:build
      - name: build:test-app
        run: npm run build:test-app
      - name: build storybook
        run: npm run build:storybook -- --output-dir ./sb-build
      - uses: actions/upload-artifact@v3.1.0
        with:
          name: sb-build
          path: ./sb-build
